[2013-11-13 10:41] janovesk opened #1 "NHibernate + distributed transaction on different thread"
Hi all!

Regarding the NHibernate + distributed transactions with rollback on a different thread bug, http://stackoverflow.com/questions/8581956/deadlocks-causing-server-failed-to-resume-the-transaction-with-nhibernate-and and https://nhibernate.jira.com/browse/NH-3023

There is no doubt that the real problem is NHibernate closing the ADO Connection on a seperate thread from the one who opened it,

[2013-11-13 18:51] #1 closed, assigned to andreasohlund

[2013-11-20 03:47] SimonCropp opened #2 "Create NHibernate Role"
Raised by @udidahan
Migrated from by https://github.com/Particular/NServiceBus/issues/482

Makes it easy for users to specify NHibernate persistence for everything.

[2013-11-20 04:47] SimonCropp opened #3 "Pull the RavenDB persistence out of the core"
Raised by @andreasohlund
Migrated from by https://github.com/Particular/NServiceBus/issues/1605

In order to better follow the release cycle of RavenDB we should pull it out of the core. Since we bundle Raven as part of the core today this is a breaking change.

Proposed way forwards:
- Split raven to separate repo + nuget
- If no storage is referenced (NH or Raven) default to InMemory storage if

[2013-11-20 04:47] #3 closed, assigned to nobody

[2013-11-20 05:01] #2 closed, assigned to nobody

[2013-11-20 05:02] SimonCropp opened #4 "Create NHibernate Role"
Raised by @udidahan
Migrated from by https://github.com/Particular/NServiceBus/issues/482

Makes it easy for users to specify NHibernate persistence for everything.

[2013-11-20 05:06] #4 closed, assigned to nobody

[2013-11-20 05:07] SimonCropp opened #5 "NHibernate persister doesn't work with Oracle 11g database"
It just created simply sample application that use saga and use Oracle 11g XE as saga and timeout persistence storage. I received the following exception:

[code]

According to this post (http://stackoverflow.com/questions/3765499/nhibernate-transactionscope-issue-with-oracle-11g) ADO.NET transaction should not be mixed with TransactionScope

[2013-11-20 05:09] SimonCropp opened #6 "When an endpoint does not use Gateway, but NHibernateGateway Persistence is defined, an unfriendly exception is thrown"
**Steps to repro**
1. Use the pub/sub sample
2. Add NHibernate to the publisher

[code]
3. Modify app.config as below:

[code]
4. Add a class to specify NH persistence which includes the Gateway.

[code]
5. Start the endpoint and notice the exception
   ![image](https://f.cloud.github.com/assets/854553/1477668/6b084936-465f-11e3-8821-4e137b823616.png)

**NOTE:** Either removing `.UseNHibernateGate

[2013-11-20 05:09] SimonCropp opened #7 "Add a custom sqlserver subscription storage and subscription manager"
Raised by @andreasohlund
Migrated from by https://github.com/Particular/NServiceBus/issues/1010

This removed the need to use NHibernate but more importantly allows us to do configuration less pub/sub since the sqlserver is centralized anyway

[2013-11-20 05:10] SimonCropp opened #8 "Calling NHibernatePersistence.UseDefault in a custom host with the bus initialization does not seem to work"
Raised by @indualagarsamy
Migrated from by https://github.com/Particular/NServiceBus/issues/1418

Steps to reproduce:
1. Create a custom host (reference NServiceBus.NHibernate) and initialize the bus like below:

[code]
2. Make sure you add the needed configuration for NHibernate in app.config
3. Stop RavenDB Service
4. Start the endpoint.

Notice the Raven exceptions trying to connect to RavenDB

[2013-11-20 05:23] SimonCropp opened #9 "Add to NServiceBus.NHibernate NuGet package a configuration file transformation"
Raised by @johnsimons
Migrated from by https://github.com/Particular/NServiceBus/issues/528

Add to NServiceBus.NHibernate NuGet package a configuration file transformation script to auto gen config settings for NHibernate persisters.
Here is info on how to do it:
http://docs.nuget.org/docs/creating-packages/configuration-file-and-source-code-transformations

[2013-11-20 05:25] #9 closed, assigned to nobody

[2013-11-20 05:49] SimonCropp opened #10 "TableName attribute does not work as expected"
Raised by @nordbergmikael
Migrated from by https://github.com/Particular/NServiceBus/issues/1147

Using NHibernate to store sagas and I would like them to be stored in a specific schema.

I've added TableName attribute to the sagadata-class and that works.

Inside my sagadata I've got a property Dictionary<Guid, bool>. The table for that property is not added to my specified schema, but instead to

[2013-11-20 05:54] SimonCropp opened #11 "Calling NHibernatePersistence.UseDefault in IWantCustomInitialization causes exception"
Raised by @indualagarsamy
Migrated from by https://github.com/Particular/NServiceBus/issues/1417

Steps to reproduce:
1. Create a default server NSB endpoint, with reference to NServiceBus.NHibernate
2. Modify the endpoint config like below:

[code]
3. Modify the app.config to make sure the right config for NHibernate is present.

[code]
4. Start the endpoint and notice the below exception:

![ima

[2013-11-20 05:56] SimonCropp opened #12 "Custom hbm.xml only works as embedded resource"
Raised by @ramonsmits
Migrated from by https://github.com/Particular/NServiceBus/issues/1192

When custom nhibernate mappings are used then these must be added as embedded resource. If would be nice if *.hbm.xml files that are located in the folder are added to the nhibernate configuration as well.

This would require to add the following statement:

[code]

This should be added to the SessionFact

[2013-11-20 05:57] SimonCropp opened #13 "Migrate TableNameAttribute and RowVersionAttribute to NServiceBus.SagaPersisters.NHibernate namespace"
Both TableNameAttribute and RowVersionAttribute are in a very deep and hard to find namespace `NServiceBus.SagaPersisters.NHibernate.AutoPersistence.Attributes`

They are now migrated to  `NServiceBus.SagaPersisters.NHibernate` ?

[2013-11-20 05:57] SimonCropp opened #14 "Create NHibernate Role"
Raised by @udidahan
Migrated from by https://github.com/Particular/NServiceBus/issues/482

Makes it easy for users to specify NHibernate persistence for everything.

[2013-12-03 10:08] indualagarsamy opened #15 "When starting the saga endpoint in NServiceBus.Integration Profile, an empty ContainSagaData table is created"
**Steps to repro:**
1. Set up NHibernate as persistence for Saga and start a saga endpoint either using the debugger or using the `NServiceBus.Integration` profile
2. Note that there is a new table called `ContainSagaData` in addition to the saga entity tables.

[2013-12-04 07:09] indualagarsamy opened #16 "When referencing the nuget package in NServiceBus version 4.0.5, warnings on startup"
**Steps to repro:**
1. Install-package `NServiceBus.NHibernate` version `4.3-Beta0001-0002`on an NServiceBus host version `4.0.5`
2. After the package installs successfully, start the endpoint

Notice the warnings.

Should the minimum version be 4.0.0 for this package?

[code]

![image](https://f.cloud.github.com/assets/854553/1671198/b16af41e-5cb2-11e3-9582-3d8b946bccae.png)

[2013-12-25 10:24] yvesgoeleven opened #17 "Default driver fails to create tables on sql azure"
This one works: https://github.com/MRCollective/NHibernate.SqlAzure

[2013-12-30 02:59] johnsimons opened #18 "RowVersion attribute not working"
Testing the latest version and I found the following:
- If you add a RowVersion attribute to a prop, that prop is not created in sql;
- If the RowVersion attribute is a DateTime, it should create a timestamp column in sql, but it does not

[2014-02-10 13:35] killthrush opened #20 "NHibernate RowVersion saga concurrency throws errors"
I get a SqlException: Cannot insert the value NULL into column 'Version'
##

Hi, while preparing to upgrade my endpoints to v4.3.X, I've been kicking the tires on the Saga concurrency features since I need to add more worker threads.

I'm having some issues with it that I can't seem to shake.  Here's my version info:
NHibernate: 3.3.3.4001
NServiceBus: 4.3.1
NServiceBus.Host: 4.3.1
NServiceBus.Int

[2014-03-02 23:18] #20 closed, assigned to nobody

[2014-03-06 08:30] #18 closed, assigned to nobody

[2014-03-11 07:38] indualagarsamy opened #26 "When creating the indexes for the timeout table, they need to handle load by default"
This relates to
https://github.com/Particular/NServiceBus/issues/1512

The fix that was created to solve the deadlock issue, however, still did not create the default indexes the optimized way and deadlocks continue to happen under load with the current fix.

The proper fix would have been to create the indexes in the following manner:
- A non-clustered index for the Id
- A clustered index for End

[2014-03-18 23:17] #26 closed, assigned to johnsimons

[2014-03-19 08:01] johnsimons opened #29 "Oracle doesn't work with binary row versioning"
The following saga data class will fail when using Oracle:

[code]

Here is the error:

[code]

[2014-03-20 23:31] johnsimons opened #30 "When updating/creating the schema we need to use the NHibernate Configuration instance from the fluent API"
The installers code for NHibernate are newing up a new `NHibernate.Cfg.Configuration` instead of using the one that the user could have passed us in via the fluent API.

This causes issues like:
- Setting the schema via config settings, not as default schema used with creating tables, see http://stackoverflow.com/q/22536219/90882

[2014-03-24 03:18] johnsimons opened #31 "Only apply Inverse=true if child has a reference to parent"
The bag convention can only apply `inverse=true` when the child element has a reference back to the parent

[2014-03-24 07:35] #31 closed, assigned to nobody

[2014-03-31 05:00] #5 closed, assigned to nobody

[2014-03-31 05:00] #30 closed, assigned to johnsimons

[2014-04-07 17:51] andreasohlund opened #34 "Allow an external connection to be used for all storage needs"
Allow users to take full control over the connection and its lifecycle by passing it in to the NHibernate persistence. When this is done:
1. This connection will be used for all storage needs (sagas, timeouts, subscriptions, gateway dedup)
2. Closing and disposing of the connection is handled by the caller

This together with https://github.com/Particular/NServiceBus.SqlServer/issues/32 will allow

[2014-04-12 11:12] andreasohlund opened #35 "Provide a way for users to access the NHibernate session"
Users implementing their own saga finder needs to get access to the current session. This can now be accomplished by taking a dependency on `NHibernateStorageContext`. The context provides access to both the NHibernate session and the underlying raw Ado.Net IConnection

[2014-04-24 01:18] #6 closed, assigned to nobody

[2014-04-24 01:25] #8 closed, assigned to nobody

[2014-04-24 01:31] johnsimons opened #36 "NHibernate role"
We need a way to configure NHIbernate to be used by all persisters, currently If a user want to use NHIbernate for everything they end-up with:

[code]
### Plan of attack
- Obsolete `NHibernatePersistence.UseAsDefault()`
- Introduce a UsingPersistence<T> (very similar to `UsingTransport<T>`), eg:

[code]
- Introduce a `UsePersistence<T>` (very similar to `UseTransport<T>`), eg:

[code]

  See also

[2014-04-24 01:31] #11 closed, assigned to nobody

[2014-04-24 01:33] #14 closed, assigned to nobody

[2014-04-24 01:54] #16 closed, assigned to nobody

[2014-04-24 02:14] #12 closed, assigned to nobody

[2014-04-24 02:15] #29 closed, assigned to nobody

[2014-04-24 07:08] #10 closed, assigned to nobody

[2014-04-24 07:17] #17 closed, assigned to yvesgoeleven

[2014-04-29 12:36] andreasohlund opened #37 "Saga data without a namespace causes the saga persister to blow up"
Create a saga where the saga data has no namespace:

[code]

[2014-04-29 12:59] #37 closed, assigned to nobody

[2014-05-05 02:03] johnsimons opened #38 "How to get NH to use an existing IDbTransaction"
So the issue is:
- SQLServer transport creates an `IDbConnection` and also an `IDbTransaction`
- Those instances remain open for the duration of the request
- NHibernate can easily use the `IDbConnection` but it doesn't look like it can use the existing `IDbTransaction`, see https://nhibernate.jira.com/browse/NH-1855

I actually don't know for sure if we even need to share the same transaction as

[2014-05-13 07:44] johnsimons opened #40 "Clean-up job for outbox records"

[2014-05-13 07:52] johnsimons opened #41 "Remove obsoletes"

[2014-05-16 02:31] SimonCropp opened #44 "Move to .net 4.5"
related to https://github.com/Particular/NServiceBus/issues/2078

[2014-05-16 02:32] #44 closed, assigned to nobody

[2014-05-19 00:56] #15 closed, assigned to nobody

[2014-05-19 00:56] #41 closed, assigned to nobody

[2014-05-19 00:56] #13 closed, assigned to nobody

[2014-05-19 08:12] Hell0wor1d opened #45 "TimeoutEntityMap Issue."
I found an issue that in NServiceBus.NHibernate/src/NServiceBus.NHibernate/TimeoutPersisters/TimeoutEntityMap.cs line:26 and 30, Just like this
Property(p => p.Time, pm => pm.Index("TimeoutEntity_EndpointIdx"));
Property(p => p.Endpoint, pm =>
            {
                pm.Index("TimeoutEntity_EndpointIdx");
                pm.Length(440);
            });

The Time's Index  is same with the end

[2014-05-20 23:46] johnsimons opened #47 "Lazily create an ISession, IDbConnection and ITransaction"
We need to ensure that an ISession, IDbConnection and ITransaction are only created if the user actually needs them.

The plan is to use `Lazy<T>`

[2014-05-20 23:46] johnsimons opened #48 "Document new public APIs"

[2014-05-20 23:48] #45 closed, assigned to nobody

[2014-05-20 23:48] #36 closed, assigned to andreasohlund

[2014-05-20 23:49] #7 closed, assigned to nobody

[2014-05-21 01:59] Hell0wor1d opened #49 "mysql issue"
when I switch to mysql will throw exceptions due to the 'varchar' length is different from mssql, I am going to try to fix this issue.

[2014-05-21 05:15] #34 closed, assigned to johnsimons

[2014-05-23 07:29] #47 closed, assigned to nobody

[2014-05-23 07:30] #48 closed, assigned to nobody

[2014-06-19 10:55] #35 closed, assigned to nobody

[2014-06-19 10:55] #40 closed, assigned to nobody

[2014-08-01 04:10] johnsimons opened #52 "Review outbox persister isolation levels"
I got this exception:

[code]

[2014-08-15 07:20] andreasohlund opened #53 "Make the caching on by default"
https://github.com/Particular/NServiceBus.NHibernate/pull/33

[2014-08-15 09:34] andreasohlund opened #54 "Backport the caching support to latest v4"
Backport #33 in order to provide caching and better performance for v4 users. We should keep it off by default. (v5 will most likely have it on by default https://github.com/Particular/NServiceBus.NHibernate/issues/53)

[2014-08-18 04:47] andreasohlund opened #55 "Update to NHibernate 4.0 GA"

[2014-09-17 18:16] rosieks opened #56 "UseConfiguration seems to doesn't work"
I just tried NServiceBus.NHibernate.5.0.0-beta001 and it looks for me that `UseConfiguration` doesn't work. For the following code:

[code]

I receive InvalidOperationException with message: `No NHibernate properties found in your config file`.

[2014-09-17 18:36] rosieks opened #57 "TimeoutEntity.State column size in Oracle is only 2000"
When NServiceBus.NHibernate create table for TimeoutEntity, State column type is set to `RAW(2000)` on Oracle which is of course incorrect. I think that setting column size to `int.MaxValue` should resolve problem.

[2014-09-18 02:22] #57 closed, assigned to johnsimons

[2014-09-18 04:40] #54 closed, assigned to johnsimons

[2014-09-22 13:02] andreasohlund opened #59 "Oracle blows up for sagas with long property names"
Eg:  CorrelationIdSoThatResponseCanFindTheCorrectInstance

Causes:

[code]

[2014-09-24 13:02] #55 closed, assigned to nobody

[2014-09-24 13:03] #52 closed, assigned to andreasohlund

[2014-09-26 07:03] andreasohlund opened #60 "4.5.1 has the wrong assembly version"
Is 4.5.1 , should be 4.5.0. Fix is to update  to GitVersion 1.3 and and a settings file

[2014-09-26 11:23] #60 closed, assigned to nobody

[2014-09-26 13:23] mauroservienti opened #61 "Missing autoUpdateSchema parameter on UseNHibernateSagaPersister"
## Who's affected

User who needs to disable the automatic schema generation
## Symptoms

Schema will always be generated
## Solution

The new and suggested method to configure the NHibernateSagaPersister, UseNHibernateSagaPersister, does not provide any way to define the autoUpdateSchema policy.

[2014-09-30 23:32] #56 closed, assigned to nobody

[2014-10-07 07:15] johnsimons opened #63 "Format name buffer supplied to the API was too small to fit the format name."
We getting this bug in TC builds:

[code]

Any ideas ?

[2014-10-18 06:08] SimonCropp opened #64 "Add support for reply address per gateway channel"
Raised by @chrisbednarski
Migrated from by https://github.com/Particular/NServiceBus/issues/1371

Current gateway configuration allows only for a single reply to address. When using the built-in Http channel, this address is also used for hosting the HttpListener.

When the gateway is hosted behind a load balancer, the public address of the gateway can be different from the local address on the ma

[2014-10-18 06:08] #64 closed, assigned to nobody

[2014-10-18 09:10] SimonCropp opened #65 "NServiceBus 4.4.1 with NHibernate: SchemaUpdate - Unsuccessful"
Raised by @mauroservienti
Migrated from by https://github.com/Particular/NServiceBus/issues/1995

Error report from a customer.
NServiceBus 4.4.1 with NHibernate -> when the enpoint is initializing there is an error in de logfile:

[code]

[2014-10-29 02:22] SeanFeldman opened #66 "Order of settings"
Values provided by users in ConfigSection should take precedence over values provided with Fluent API, while Fluent API overrides default values set by ConfigSeaction.

ConfigSection defaults --> Fluent API --> CofnigSection user values

[2014-11-02 23:00] johnsimons opened #67 "Cannot insert duplicate key in object 'dbo.TimeoutEntity'"
Using existing message ID for timeout ID doesn't work when:
- Timeout storage is shared between endpoints
- and the same message goes through SLR subsequent times;

Fixed by always generating a new sequential GUID for timeout ID.

Issue originally raised in SO - http://stackoverflow.com/q/26683074/90882

This was introduced by https://github.com/Particular/NServiceBus.NHibernate/commit/0b78048cd15

[2014-11-03 09:33] #67 closed, assigned to johnsimons

[2014-11-26 23:22] #65 closed, assigned to nobody

[2014-11-26 23:23] #63 closed, assigned to nobody

[2014-11-26 23:40] #59 closed, assigned to nobody

[2014-12-02 13:41] mauroservienti opened #71 "NHibernateStorageContext is null if no saga is defined in the endpoint."
Scenario:

* endpoint using Sql Server as Transport and NHibernate as persistence;
* the endpoint wants to run in No-Dtc mode;
* a message handler expects to have a dependency on `NHibernateStorageContext`;

`NHibernateStorageContext` is always null.

Bug:

the `NHibernateStorageContext`is registered in the container by the `NHibernateStorageSession` feature but the feature is configured to depend

[2014-12-03 09:10] #61 closed, assigned to nobody

[2014-12-04 07:20] #49 closed, assigned to nobody

[2014-12-31 14:56] KenBerg75 opened #74 "PostgreSql - outboxrecord table not being created"
using the following:

`NServicebus.NHibernate 6.0.1`
`NServicebus 5.1.2`
`Npgsql 2.2.3`
The Outbox sample project located [Here](http://docs.particular.net/nservicebus/no-dtc#-a-href-https-github-com-particular-nservicebus-nhibernate-archive-samples-zip-outbox-sample-a-)

When using `PostgreSql 9.4` and enabling Outbox, the outboxrecord table fails to get created.

This issue manifests itself when

[2015-01-02 09:01] rosieks opened #76 "Incorrect assembly version"
I just wanted to updated NServiceBus.NHibernate to version 4.5.3 and still using NSB 4.2

According to nuget package it's possible, but when I try to build my project I receive the following error:
[code]
It would be great if I could upgrade only NHibernate part without the whole NSB.

[2015-01-06 20:14] SimonCropp commented on #76
@rosieks have you tried a binding redirect?

[2015-01-06 21:21] rosieks commented on #76
Yes, but I still get this message while building project

[2015-01-08 01:17] johnsimons commented on #74
@KenBerg75 yes please submit a PR

[2015-01-08 01:37] johnsimons commented on #76
@rosieks that is a bug in the nuget specs, the specs should be >=4.4

[2015-01-08 01:45] johnsimons commented on #76
Fixed in https://github.com/Particular/NServiceBus.NHibernate/commit/091c48f4610ae386b4a2642b9b223308493c0836

[2015-01-08 01:45] #76 closed

[2015-01-08 01:47] johnsimons commented on #71
@andreasohlund should this go out in a patch release for v6 ?

[2015-01-08 08:31] andreasohlund commented on #71
My knee jerk is that this can be v6.1 for now

[2015-01-09 02:24] johnsimons commented on #74
Fixed in https://github.com/Particular/NServiceBus.NHibernate/commit/d7c16a20a3bf6796dd7b9105c9d2996c605b0da5

[2015-01-09 02:24] #74 closed

[2015-01-09 03:18] johnsimons commented on #71
@andreasohlund can we discuss this change, after starting working on it I'm now wondering if we should do it or not.
The following issues I have identified:
- The connection string needs to be in a specific key
- This is only needed if using Outbox or in a saga handler
- User needs to pass a `NHibernate.Cfg.Configuration`

[2015-01-17 11:46] sfarmar opened #78 "Nuget package dependancy issues reported by David Cannon"
[code]
![image001](https://cloud.githubusercontent.com/assets/125256/5788707/11e0bdb8-9e4f-11e4-842b-9b575397d360.png)
![image004](https://cloud.githubusercontent.com/assets/125256/5788708/11ee0946-9e4f-11e4-964d-60b989fd0d12.jpg)

[2015-01-29 07:02] johnsimons commented on #78
This needs to be patched in the core

[2015-01-29 07:05] #78 closed

[2015-01-29 07:25] johnsimons commented on #38
We have decided to throw a better exception

[2015-02-11 11:47] SzymonPobiega commented on #38
There is one big advantage actually. One cannot use Outbox when using ambient transactions. This means one cannot use SQLTransport multi-db feature without DTC. I'll take a look at `ITransactionFactory` again.

[2015-02-16 05:24] SzymonPobiega commented on #38
I did a small spike in order to be absolutely sure we can/cannot do this and it seems like it is very unlikely that without resorting to High Magic (passing arguments to a method via thread-static objects) we can do this.

I did implement an `ITransactionFactory` that uses an existing `IDbTransaction` and I would be able to expose session with such a transaction factory to the user but because of

[2015-02-16 05:24] #38 closed

[2015-02-18 11:48] Henrik-R opened #82 "v6.0.1 src included in NuGet package"
In the NuGet for v6.0.1 there is a src folder included in the NuGet package containing what seems to be the entire source code.

This is not the case for any the other 5 NServiceBus NuGet packages I have used.

If this was intentional I apologize for the disruption

Regards, Henrik

[2015-02-19 02:15] johnsimons commented on #82
I don't think we need it, we will remove it in future releases

[2015-02-19 02:41] johnsimons commented on #82
Addressed in https://github.com/Particular/NServiceBus.NHibernate/commit/fe25d2be8d992886d36ab7b895e5b33ee62f3ea3

[2015-02-19 02:41] #82 closed

[2015-02-24 08:42] andreasohlund opened #83 "Honor the unique properties in the saga metamodel"
The new metamodel in core v6 contains the properties that are unique. The persister should honor this.

This is how the InMemory persister is currently doing it

https://github.com/Particular/NServiceBus/issues/346

[2015-03-03 19:50] danielmarbach opened #85 "Make Connection resilient"
When DB connection goes down the connection is not reestablished. I think it would be a good improvement to introduce connection resilience. For example

http://weblogs.asp.net/ricardoperes/nhibernate-connection-resiliency

I didn't have a detailed look at the code. I think it is not there yet.

@SzymonPobiega thoughts?

[2015-03-03 19:51] danielmarbach commented on #85
Update: Seems to be coming in NH 5 with the framework https://nhibernate.jira.com/browse/NH-3607

[2015-03-04 04:51] SzymonPobiega commented on #85
Do you know what is the timeframe for V5?

[2015-03-04 05:50] SzymonPobiega opened #86 "When using Outbox user data access transaction completes even though there was an exception in the handler"
### Symptoms

User data updates are executed multiple times in case an exception happens in the handler.

### Who's affected

All users who enable Outbox except those who run latest SQL Server transport (2.1) with NHibernate 6.1

### Root cause

This is because `TryGet` from outbox store in the `OutboxDeduplicationBehavior` is accessing `LazySqlConnection` causing a new connection to be created be

[2015-03-04 06:26] johnsimons commented on #86
Doesn't the `TransactionScope` gets created and wraps `OutboxDeduplicationBehavior` ?

[2015-03-04 07:05] danielmarbach commented on #85
nope

[2015-03-04 07:09] mariusin79 commented on #86
Exactly how broad should this disable be? If I remember it correctly, the initiation of DbConnections from NServiceBus was introducted due to the faulted connection pool bug in Nhibernate (https://nhibernate.jira.com/browse/NH-3023). If you mean that the Outbox.TryGet operation should initiate its own connection that might work, but if you are suggesting a broader disabling I am concerned with pot

[2015-03-04 07:22] danielmarbach opened #87 "Controling the length of the Saga property/column in SQL Server"
This is coming from a customer case

My workaround:

Answer:

My answer:

Answer:

I'm very unsure about this. Here is my answer to the customer:

I'm raising this as a dicussion point. @SzymonPobiega thoughts?

[2015-03-04 08:19] SzymonPobiega commented on #86
@mariusin79 NHibernate 6.1 actually fixes that and the outbox works fine (confirmed it with Rabbit for now). The caveat is, with 6.1 and outbox `NHibernateStorageContext` is no longer available so you need to create your own `ISession` and `ITransaction` when doing each data access. I will update the sample soon.

I am opening another issue since `NHibernateStorageContext` should not disappear in

[2015-03-04 10:20] SzymonPobiega commented on #86
@mariusin79 how does manually creating connections relate to NH-3023? I read the bug description but I understood that the actual bug is in ADO and the fact that we create the connection won't affect the race condition between deadlock and releasing connection

[2015-03-04 10:38] mariusin79 commented on #86
@SzymonPobiega ADO.Net requires a database connection to be opened and closed on the same thread, this is by design so whether this is a nhibernate or ado bug is a matter of definition. You fixed this previously by manually creating connections: https://github.com/Particular/NServiceBus.NHibernate/issues/1

[2015-03-05 14:30] mlunacant opened #88 "Problem inserting in NServiceBus table TimeoutEntity (Oracle database)"
I have a saga trying to send a timeout message this way

<code>RequestTimeout < MyTimeout > (mydatetime);</code>

after that and excepcion is thrown, it seems there is a problem inserting in the TimeoutEntity table and I guess the problem appairs because the data for Headers column is too large

2015-03-05 15:14:45.562 INFO  NServiceBus.Unicast.Transport.TransportReceiver Fa
iled to process messag

[2015-03-06 02:30] johnsimons commented on #88
@mlunacant any chance you can help me reproduce this issue ?
A small repro would be awesome ?

[2015-03-06 07:59] pablocastilla commented on #88
@johnsimons Here you are.

https://github.com/pablocastilla/NSB_NHIBERNATE_ORACLE_PROBLEM

Please, tell me if you have problems with it.

[2015-03-06 08:50] ramonsmits commented on #85
When the connection goes down then the transaction is gone right? We already have FLR and SLR that results in similar behavior.

I can understand that this is a nice feature from a non transactional client perspective when doing Bus.Send() and using the SQL transport.

Is this the scenarios you have in mind for this improvement?

[2015-03-08 23:30] johnsimons commented on #88
@pablocastilla thanks for the repro.
I can replicate it using the drivers you included, but if I change to use Oracle.DataAccess.dll, then it works.
`Oracle.DataAccess.dll` is the driver we use in our testing, it is shipped with oracle and you should be able to find it in [installation_path]\app\oracle\product\11.2.0\server\odp.net\bin\4

[2015-03-08 23:41] johnsimons commented on #88
I think this thread is related - https://community.oracle.com/thread/3674405

[2015-03-08 23:42] johnsimons commented on #88
@pablocastilla can you try the Oracle.DataAccess.dll ?
You need to set  `connection.driver_class = "NHibernate.Driver.OracleDataClientDriver"`

[2015-03-09 11:31] SzymonPobiega commented on #86
Fixed via #89 . The NH's connection management is used only when using outbox *and* SQL Server transport. In such case:
 * when using NH's native transactions (inside outbox `TransactionScope`) the behavior is correct (only one BEGIN TRAN is issued against the database)
 * when not using NH's native transactions and relying on `AdoNetWithDistributedTransactionFactory` to call `Flush()` the behavio

[2015-03-09 11:31] #86 closed

[2015-03-23 00:06] johnsimons commented on #88
ping @pablocastilla, any news ?

[2015-03-23 07:38] pablocastilla commented on #88
It is a driver problem. Oracle told us that it will be solved in April, so we have changed to InMemory until the fix is released (we are not going to production until next year, we can wait :)) .

[2015-03-23 07:39] johnsimons commented on #88
@pablocastilla that is kind of good news.
The other option is to use the driver I mention above ?

[2015-03-23 07:39] johnsimons commented on #88
@pablocastilla in this case are you happy with me closing this one ?

[2015-03-23 07:47] pablocastilla commented on #88
To be honest I tried to make the other driver work but I couldn't, but at the same time Oracle answered the question so I leave the problem.

I am happy if you close this one, it is an oralce issue.

[2015-03-23 07:48] #88 closed

[2015-03-24 05:41] johnsimons opened #90 "Outbox is broken when using with Oracle"
Release v6.1 included #79, which unfortunately broke Outbox when used with an Oracle database.

@SzymonPobiega I need your help to fix this ?

Need to investigate the impact of this issue

[2015-03-24 07:41] SzymonPobiega commented on #90
@johnsimons I'll investigate

[2015-03-24 07:53] johnsimons commented on #90
@SzymonPobiega you need to install "Oracle Database 11g Express Edition".

[2015-03-24 22:24] johnsimons commented on #90
@SzymonPobiega any news on this ? Should we pair today ?

[2015-04-08 22:09] johnsimons commented on #90
@SzymonPobiega is this fixed now ? Do we backport it ?

[2015-04-09 06:31] SzymonPobiega commented on #90
it was introduced in 6.1.0 and 6.1.1 is going to fix it so no backporting needed. All the acceptance tests are [passing](http://builds.particular.net/viewLog.html?buildId=102371&tab=buildResultsDiv&buildTypeId=NServiceBusNHibernate_2AcceptanceTests) on MSMQ (both SQL Server and Oracle). There are problems with acceptance test for SQL Server transport and Oracle persistence but the [failures](http:

[2015-04-09 08:23] johnsimons commented on #90
@SzymonPobiega would you like me to see why the tests are failing for SQL Server transport and Oracle persistence ?

[2015-04-09 09:32] SzymonPobiega commented on #90
@johnsimons in [that comment](https://github.com/Particular/NServiceBus.NHibernate/issues/71#issuecomment-69288059) you mentioned problems with always exposing the context. Could you evaluate if my proposal solves these problems and we can go forward?

[2015-04-13 07:49] SzymonPobiega commented on #90
@johnsimons yeah, if you could take a look it would be awesome

[2015-04-14 06:05] johnsimons commented on #90
@SzymonPobiega found an issue, it looks like the SqlServer transport expects an error queue configuration even in sendonly mode, this is the error:
[code]

I've raised an issue for it in https://github.com/Particular/NServiceBus.SqlServer/issues/78

[2015-04-14 06:14] johnsimons commented on #90
Both `When_handler_throws.Should_receive_exception_from_handler` and `When_handler_throws_AggregateException.Should_receive_exact_AggregateException_exception_from_handler` are doing asserts on specific stacktrace text, and because we modify the pipeline based on configuration settings those tests cannot ever pass!

Not sure how to handle this, IMHO, those tests are constantly giving us grief, I w

[2015-04-14 08:04] SzymonPobiega commented on #90
@johnsimons but why do these stack trace tests pass for SQL Server and fail with Oracle?

[2015-04-14 08:07] johnsimons commented on #90
I don't think they do, can you run them ?

On Tuesday, April 14, 2015, Szymon Pobiega <notifications@github.com> wrote:

[2015-04-14 08:09] SzymonPobiega commented on #90
All the failures in [NHibernate+SQLServer transport suite](http://builds.particular.net/viewLog.html?buildId=103150&tab=buildResultsDiv&buildTypeId=NServiceBusNHibernate_AcceptanceTestsSqlServer) come from oracle dll: `NServiceBus.NHibernate.AcceptanceTests-Oracle.dll`

[2015-04-14 08:34] johnsimons commented on #90
Unfortunately that doesn't mean much, run the tests locally to ensure, and
compare the stacktraces.
We have had false positives before :(

On Tuesday, April 14, 2015, Szymon Pobiega <notifications@github.com> wrote:

[2015-04-20 00:04] johnsimons commented on #90
@SzymonPobiega when is this fix going to go out ?

[2015-04-20 04:47] SzymonPobiega commented on #90
I'll be working on it this afternoon. Should be enough. The other thing is, remember the `if` statement that you didn't like? The nasty one that checked if you are on SQL transport with SQL persistence and outbox etc. I replaced it with implementation of https://github.com/Particular/Requirements/issues/258 and raised a concern but that one is not yet approved.

We can either go back to the old if

[2015-04-22 10:47] SzymonPobiega opened #92 "Message is lost after a data access error while updating saga state when outbox is enabled"
### Symptoms

The message is lost (no retries, not moved to the error queue, not even audited) if an error occurs while updating saga state

### Root cause

The shared connection used by saga store and outbox store is created before the transaction scope so it is not enlisted in the transaction. This causes the session that wraps that connection to actually commit data to the database in some circ

[2015-04-22 10:47] SzymonPobiega commented on #92
/cc @indualagarsamy @johnsimons

[2015-04-23 06:40] #92 closed

[2015-04-23 11:06] pablocastilla opened #93 "NHibernatePersistence: if a field is too long the saga data table is not created and there is no error message"
Today we have had a strange problem, we changed something in the SagaData and its table stopped of being created. The main problem is that it didn't show any error or warning in the console when debugging or when installing the service.

Here you can find a code to reproduce the problem. If you shorten the field in the saga data the table is created.

https://github.com/pablocastilla/SagaDataLongF

[2015-04-23 13:21] acgentry opened #94 "Property Collection Table Naming Convention"
This is an improvement request to how collection tables get named for Saga persistence, I believe this would fall into this project but not sure.

Currently tables get generated in a way that could cause collisions in property names.  For example a class Foo with a collection property of Bar will create two tables: Bar & Foo

My recommendation is to create two tables of: Bar & Bar.Foo OR Bar_Foo

[2015-04-24 00:30] johnsimons commented on #94
Hi @acgentry
The default for table creation should be "Bar_Foo", how do I reproduce this issue?

Also you can control the conventions, you can either annotate your classes with `TableNameAttribute` or:
[code]

Here are the default conventions, see https://github.com/Particular/NServiceBus.NHibernate/blob/57c1b3bab13022f396da6984c6fa9825ff71eb4f/src/NServiceBus.NHibernate/SagaPersisters/SagaModelMa

[2015-04-24 00:35] johnsimons commented on #90
@SzymonPobiega what version is this going out in ?

[2015-04-24 00:57] johnsimons commented on #93
It seems column names in oracle can only be a max of 30 characters

[2015-04-24 01:11] johnsimons commented on #93
@pablocastilla I've attached the debugger and set "Break on all exceptions" to ON.
Unfortunately nothing blows up :disappointed:

I'm struggling to figure out how to address this issue, the reason is because when I test this against MS SqlServer it works fine, it seems the restriction on max column length is vendor specific and because we are a framework I want to avoid having vendor specific code

[2015-04-24 03:30] SzymonPobiega commented on #90
6.1.1

[2015-04-24 06:54] pablocastilla commented on #93
ummmmmmmmmm, maybe this helps, I see an exception but I don't know if it is catched in NH or NSB.

![image](https://cloud.githubusercontent.com/assets/8155105/7313847/4354c55a-ea5e-11e4-87f1-e61e3eec7a43.png)

[2015-04-24 12:46] acgentry commented on #94
Thanks for the pointer to the naming convention feature, now it seems like a defect, for the class the saga class is marked with ContainsSagaData and has a property of:

public virtual IList<RequestLog> Logs { get; set; }

The RequestLog is a POCO that when persisted creates a Logs table without the prefix of the owner sagadata class.

[2015-04-27 23:59] johnsimons commented on #94
@acgentry yes, at the moment is not possible to supply naming conventions for classes that do not have an id.
If you add `public virtual Guid Id { get; set; }` to `RequestLog`, it should start working, because then the convention applies.

[2015-04-28 00:06] johnsimons commented on #94
@andreasohlund @SzymonPobiega, so this issue is the following.
Given a saga data looking like this:
[code]

We get 3 tables created:
- [Saga_Class_Name]
- [Saga_Class_Name]_ChildData
- Logs

So it looks like for `public virtual IList<RequestLog> Logs { get; set; }` the table naming conventions are not applied.
The fix is simple, we just need to modify:
[code]

But obviously this is a non backwards

[2015-04-28 01:19] johnsimons commented on #93
Got it @pablocastilla  :smile:

[2015-04-28 02:08] #93 closed

[2015-04-28 02:11] johnsimons commented on #93
So I have modified the schema updater to throw an exception if it fails.
Here is an example of the exception:
[code]

[2015-04-28 06:27] SzymonPobiega commented on #94
@johnsimons I think this is a part of greater discussion about future of NH saga mapping. IMO a decent option is to serialize to JSON by default but allow users who need normalized tables to explicitly provide mappings.

[2015-04-28 21:53] johnsimons commented on #94
@SzymonPobiega even though what you saying is interesting, I don't think it is relevant for this discussion, I suggest you raising a requirement about it.

How about the question I asked ?

[2015-04-29 06:26] SzymonPobiega commented on #94
@johnsimons what I meant is that doing such a breaking change should be considered via requirements and that we *might* (don't say we will) end up removing the mappings entirely.

[2015-05-06 16:02] acgentry opened #95 "Custom Interceptors and Conventions with Default Config Improvement"
Hi there,

This may be a RTFM moment but I believe this does not exist out of the box in the current feature set.

If I want to add an Interceptor (i.e. Date Logic) or define a Convention (i.e. string property -> nvarchar(max)) I have to jump through a lot of hoops to create a config that matches the default behavior of NServiceBus.NHibernate module, in the end I couldn't get it to work perfectly

[2015-05-06 18:35] SzymonPobiega opened #96 "Installers don't work properly when hosting multiple endpoints in a single AppDomain"
### Symptoms

The `Configuration` object in the installer gets overwritten by other endpoints hosted in the same AppDomain because it is set via a static field which results in only one endpoint being able to automatically create tables.

### Who's affected

User's of NHibernate-based persistence who wish to host more than one endpoint in a single AppDomain.

### Workaround

Here's possible workar

[2015-05-06 19:49] SzymonPobiega commented on #96
Another solution would be to use containers for installers: https://github.com/Particular/NServiceBus.NHibernate/pull/97. @johnsimons can you take a look? I've committed an acceptance test but it does not prove anything since in ATs endpoints are activated sequentially so the static does not cause any problems.

[2015-05-06 22:22] johnsimons commented on #95
@acgentry would you like to start a PR and we can interact on it ?

[2015-05-08 06:48] SzymonPobiega opened #98 "When providing user-created Configuration object user have to specify the connection string (name) twice"

[2015-05-08 09:32] danielmarbach opened #99 "When storing a timeout entity NH cannot determine wether it should call `Save` or `Update`"
### Symptoms

When storing timeouts with the NHibernate persistence the following warning is raised:

### Who's affected

Everyone using NHibernate persistence to store timeouts.

### Analysis
When we store a `TimeoutEntity` we are always assigning a new CombGuid. Then we save the newly created `TimeoutEntity` with `session.SaveOrUpdate`. This has a performance hit. NHibernate cannot figure out by

[2015-05-08 10:54] SzymonPobiega commented on #90
Let's bundle it to 6.2.0 because I don't see to release 2 versions, one after another.

[2015-05-08 10:54] #90 closed

[2015-05-08 10:56] SzymonPobiega commented on #71
Done via https://github.com/Particular/Requirements/issues/258

[2015-05-08 10:56] #71 closed

[2015-05-14 10:49] sveinfid opened #101 "When storing a subscription NH cannot determine whether it should call `Save` or `Update`"
This is probably the same issue as #99, but for subscriptions instead of timeouts.
## Symptoms

When storing subscriptions with the NHibernate persistence the following warning is raised:

## Who's affected

Everyone using NHibernate persistence to store subscriptions.
## Versions

Newest stable NuGet packages:
- Iesi.Collections.4.0.1.4000
- log4net.2.0.0
- NHibernate.4.0.3.4000
- NServiceBus.5.2

[2015-05-15 16:21] DavidBoike opened #102 "Separate Outbox storage into 2 classes"
Core Issue: https://github.com/Particular/NServiceBus/issues/2659
Core PR: https://github.com/Particular/NServiceBus/pull/2734
Working in branch splitting-outbox-storage

I seem to be hung up because the Updating_to_v6_core branch doesn't appear to take a few things into account yet, notably deprecation of UniqueAttribute.

@johnsimons can you please comment?

[2015-05-15 23:28] johnsimons commented on #102
Yep that branch is not up to date, it shouldn't be difficult to update it
to latest, if u need any help ping me

On Saturday, May 16, 2015, David Boike <notifications@github.com> wrote:

[2015-05-25 05:25] #99 closed

[2015-05-27 10:15] #96 closed

[2015-05-29 11:19] SzymonPobiega opened #103 "Consider turning off pessimistic concurrency when user specifies `[RowVersion]`"
The current behavior is even if a user specified `[RowVersion]` with an intention to switch to optimistic concurrency control, the resulting SQL statement contains the `UPDLOCK` hint.

I think it would be more natural to switch to read lock in that case.

[2015-05-29 16:09] ramonsmits commented on #103
@SzymonPobiega When using RowVersion the user expects to have concurrent reads on the same aggregate instance. Having an update lock would prevent that from happening.

I don't know why we explicitly set a LockMode as AFAIK NHibernate chooses the right lock type depending if your entity has versioning enabled to allow for optimistic concurrency control.

I think specifying anything higher then a r

[2015-05-29 16:12] SzymonPobiega commented on #103
@ramonsmits I believe the update lock prevents another thread from trying to process another message that is directed to same saga instance. Such a behavior would result in one of the threads getting concurrency exception and one of the messages would be retried.

[2015-05-31 19:52] AlanMullett opened #104 "Version 6.2 causes exceptions if multiple threads are creating the saga tables concurrently"
@SzymonPobiega

Thank you for release 6.2, Sean informed me that it had been released.

However, further to #96 the changes cause exceptions to be throw by NHibernate, specifically when line 21 of ...\SharedSession\Installer.cs is being called on more than one thread with the same configuration it demonstrates that the NHibernate code is taking time between investigating and performing the table c

[2015-06-02 12:34] SzymonPobiega commented on #104
Alan, you're correct that locking would help here. What I am not sure though is if this should be fixed on the framework level. NServiceBus initialization process is not thread-safe internally. The problem here is that multiple endpoints try to modify the shared state which is the database schema.

The fact that you have multiple endpoints involved in a single saga is not unusual at all. On the co

[2015-06-02 12:34] #104 closed

[2015-06-02 15:16] AlanMullett commented on #104
Thank you for your feedback, it's most appreciated.  I've changed the code to start up the endpoints sequentially which has solved the problem and so I'm happy to agree with your closure of this issue.

Alan.

[2015-06-11 08:14] sveinfid opened #105 "Map DateTime properties as timestamp NHibernate type"
NHibernate by default maps DateTime properties as datetime NHibernate type

Using SQL Server this is a bit inconvenient as it truncates at the second level.

If it would map using the timestamp NHibernate type instead, it wouldn't truncate at the second level, but be as specific as the database supports (e.g. SQL Server rounds to the nearest 3.33 ms)

NServiceBus.NHibernate already maps to timesta

[2015-06-11 17:33] ramonsmits commented on #105
@sveinfid Its NHibernate that does the truncating. Its the difference between the NHibernate types `DateTime` and `Timestamp`. The first has no milliseconds.

When you use `Timestamp` you have increased precision but this gets rounded by MSSQL.

## Breaking change

Changing this would be a breaking change unless we make it configurable.

### Column type

Using a different db column type would be a

[2015-06-16 08:40] dvorak-jan opened #106 "[Regression] NServiceBus generates wrong script for creating the outbox table for PosgreSQL"
Issue [#74](https://github.com/Particular/NServiceBus.NHibernate/issues/74) is back in the latest version 6.2.0.

The issue has been fixed in version 6.0.2 by this commit https://github.com/Particular/NServiceBus.NHibernate/commit/d7c16a20a3bf6796dd7b9105c9d2996c605b0da5.

---

### Symptoms
when initializing PostgreSQL storage (9.4) using NServiceBus.NHibernate 6.2.0 the exception is thrown and no

[2015-06-23 17:04] andreasohlund commented on #106
@dvorak-jan thanks for the report, we're investigating this and also figuring out why this regression happened.

We'll keep you posted

[2015-06-24 06:34] johnsimons opened #107 "NServiceBus Nuget specs minimum version should be 4.4.2"

[2015-06-24 06:34] johnsimons commented on #107
Fixed in https://github.com/Particular/NServiceBus.NHibernate/commit/7312a19e27778a78cb2d00c0673adbcd7e44106a

[2015-06-24 06:34] #107 closed

[2015-06-24 06:46] particularbot opened #108 "missing autoUpdateSchema parameter on UseNHibernateSagaPersister"
**Issue by [mauroservienti](https://github.com/mauroservienti)** _9/26/2014 1:23:27 PM +00:00_ _Originally opened as https://github.com/Particular/NServiceBus.NHibernate/issues/61_

----

## Who's affected

User who needs to disable the automatic schema generation

## Symptoms

Schema will always be generated

## Solution
The new and suggested method to configure the NHibernateSagaPersister, UseNH

[2015-06-24 06:46] #108 closed

[2015-06-29 08:55] mauroservienti opened #109 "Timeout causing deadlock when more than one thread runs with outbox feature and all NHibernate persistence"
Source: https://nservicebus.desk.com/agent/case/11496

---

The referenced Desk case contains all the details, trace and logs: It seems to work through the dead locks but when these timeouts arrive it essentially slows the endpoint down to a crawl.

[2015-07-06 12:50] mauroservienti commented on #109
@SzymonPobiega this needs you:-)

[2015-07-07 05:56] JoeShook commented on #109
Any traction on this issue.

[2015-07-07 15:33] lucasdluengo commented on #109
For me, the method "RemoveEntriesOlderThan" is timing out and deadlocking between processes.
The table "OutboxRecord" has duplicated indexes (OutboxRecord_Dispatched_Idx and OutboxRecord_Dispatched_Index do the same) but no index covers columns Dispatched and DispatchedAt at the same time, which is what this method needs.
An optimization of the method using a direct "delete from..." whould greatly

[2015-07-07 17:26] lucasdluengo commented on #109
I was wondering... What if I use a different table for each process? Is there a configuration I can set to specify the "OutboxRecord" table name or schema?

[2015-07-13 18:38] lucasdluengo commented on #109
I used the setting: NServiceBus/Persistence/NHibernate/default_schema to create an outboxrecord table for each queue. the problem I now face is that this schema is ignored while detecting if the table already exists, so it tries to create the table every time I start the queue (and crashes because it already exists).
Any idea?

[2015-07-13 19:28] JoeShook commented on #109
I reported this issue but at the end of the day it was not related to outbox but rather my saga data's parent child schema definition.

As far as your crash goes I experienced the same thing with a recent release of NServiceBus.NHibernate that I did not previously experience.  If you create the saga data schemas and outboxrecord schema then you will no longer have the race condition.

[2015-07-13 19:50] lucasdluengo commented on #109
Thanks joe.
I already created the schemas and the service works ok the first time I started it. But the second time I start the service it crashes with the following error:
Schema update failed.
The following exception(s) were thrown:
System.AggregateException: One or more errors occurred. ---> System.Data.SqlClient.SqlException: There is already an object named 'OutboxRecord' in the database.

i

[2015-07-13 20:19] JoeShook commented on #109
The thing is, someday you will have to update schema when new versions
force schema updates whether that be your application schema or
NServiceBus.  So one way or another you will eventually be in the business
of updating schema.  Not sure how you deploy but deployment tools such as
Octopus Deploy schema update a non issue.

On Mon, Jul 13, 2015 at 12:50 PM, Lucas D. Luengo <notifications@github.c

[2015-07-13 20:23] lucasdluengo commented on #109
Thanks again, Joe. You have been very helpfull.
Just one las question:
is there an equivalent to  `.DisableSchemaUpdate();` through App.config?

[2015-07-13 20:34] JoeShook commented on #109
I am not sure.  I am just a user like you.  Maybe scanning the source code you can find it.

[2015-07-13 20:50] lucasdluengo commented on #109
Thanks Anyway ;)

[2015-07-14 05:09] SzymonPobiega opened #110 "Configuration validation exceptions are misleading"
### Symptoms

If the connection string is missing from the `Configuration` object, no matter if it was created from `app.config` or passed in code, the exception throw contains following message:

[code]

Two problems:
 * the actual message is hidden under a blank line which causes some our users to miss it
 * the message is wrong if user passed the config via `UseConfiguation`

### Who's affected

[2015-07-16 12:38] SzymonPobiega commented on #106
@dvorak-jan it seems like the reason for the regression is the fact that the changes from the 6.0.2 hotfix branch have not been merged to develop. Working on that.

[2015-07-20 14:50] #106 closed

[2015-07-27 19:09] SzymonPobiega opened #112 "Make usage of NHibernate compatible with `SET NOCOUNT ON` DB-wide setting"
### Symptoms

When `NOCOUNT` is set to `ON` our NH persistence does not work. Even if it can be hacked to get working via adding the proper `SET NOCOUNT OFF` setting as part of session initialization, there are places e.g. `TryRemoveTimeoutEntity` where it cannot be done.

### Who's affected

Users that have `NOCOUNT ON` on DB level

### Potential solution

Extend the API that allows to customize

[2015-07-27 19:09] SzymonPobiega commented on #112
Based on desk case 12110

[2015-07-27 19:30] yossita commented on #112
Just a minor nitpick: NOCOUNT ON is set at the instance level

[2015-07-28 04:26] johnsimons commented on #112
Sorry for the ignorant question but what is the problem with NOCOUNT ON/OFF ?

[2015-07-28 04:45] SzymonPobiega commented on #112
@johnsimons NHibernate requires NOCOUNT OFF to function properly. When NOCOUNT is ON on the instance level, in order for NH persistence to work, it needs to set it to OFF for each connection we open.

[2015-07-28 05:07] johnsimons commented on #112
Is this documented anywhere ? Don't we just need to point our doco to whatever doco states it ?

[2015-07-28 05:09] johnsimons commented on #112
Here is another answer to support my previous answer, http://stackoverflow.com/a/17550837/90882

[2015-07-28 11:51] ramonsmits commented on #112
SET NOCOUNT OFF is needed for correct optimistic concurrency control and consistency. You really want to know how many rows are affected with doing an UPDATE or DELETE. Not having the row count returned makes it impossible to guarantee data consistency.

This is not a problem that should be 'solved' by NServiceBus.NHibernate.

Although I'm not 100% sure I think that the following should work. Each

[2015-07-28 13:25] ramonsmits commented on #112
@yossita I just tested this connection provider with a SQL instance with NOCOUNT ON and it works as expected.

[2015-07-28 15:44] yossita commented on #112
@ramonsmits , thanks, I'll test the custom provider and update back to you with updates.

Something which worked for us was to inject a custom batch batcher to inject nocount on before each batch, but the TimeoutPersister tries to remove the timeout entity using a delete statement, it is not batched and nocount is still on:

   var queryString = string.Format("delete {0} where Id = :id", typeof(Ti

[2015-07-28 15:50] ramonsmits commented on #112
@yossita The reason for the "delete {0}" is that there is a bug in NHibernate that prevents the `ISession.Delete(..)` on a stateless session.

The custom connection provider should execute it once each time a (stateless) session is created.

[2015-07-28 17:24] a-belevich commented on #112
It looks like

    bool TryGetConnection(out IDbConnection connection)
    {
        DbConnectionProvider.TryGetConnection(out connection, ConnectionString);
    }

prevents timeout persister from using the fixed connection provider. Replacing this function with

        connection = SessionFactory.GetConnection();
        return true;

solves the problem.

[2015-07-28 18:08] ramonsmits commented on #112
@a-belevich Solves which problem and when? Have you been using the custom connection provider?

`IDbConnectionProvider` is used to share the same IDbConnection across all persistence logic to allow to work without DTC and share the same transaction for reliability

Are you using the outbox?

Your fix results in a new connection to be created. This is unwanted when using the outbox.

[2015-07-28 18:17] yossita commented on #112
@ramonsmits Session.Delete worked fine with NHibernate 4.0.0.4000 and stateless session, but it still doesn't use the custom connection factory. With a custom batcher that injects NOCOUNT OFF it worked as expected.

[2015-07-28 18:47] ramonsmits commented on #112
@yossita I'm using nuget 4.0.3.4000 of NHibernate.

I have a sample that creates a saga with a timeout and waits until the timeout is handled. I only need the nhibernate custom connection provider. The change that @a-belevich suggested is not required and also not the custom batcher.

See it working here: https://youtu.be/XX4YHJzyHG4

Also works with outbox, tested with MSMQ, SQL Server and disabl

[2015-07-28 19:41] a-belevich commented on #112
@ramonsmits I assume your sample works because `RemoveTimeoutEntityBySagaId` doesn't check result of `ExecuteUpdate()`. Our problem is about SLR, not sagas. So, just create handler that always throws exception, configure SLR and send the command.

Original behavior is: after all FLR attempts, it tries to send the message to SLR, and throws exception when trying to insert record into TimeoutEntity

[2015-07-28 20:21] ramonsmits commented on #112
@a-belevich The DELETE result is checked as I'm testing the latest release of NServiceBus.NHibernate.

SLR is also working fine, as well as Defer. Timeouts work correctly and are also deleted correctly.

You are correct that it there is an connection in the context then this connection should indeed be initialized correctly. If this connection would be created outside of NHibernate then the custom

[2015-07-28 20:39] a-belevich commented on #112
@ramonsmits SQL Server transport. No Outbox. Yes.

[code]

[2015-07-29 06:43] ramonsmits commented on #112
@a-belevich This is interesting. I think that when using the SQL transport, persistence is using the `IDbConnection` of the SQL transport. The SQL transport `IDbConnection` is not created via NHibernate so therefore `SET NOCOUNT OFF` could not be executed.

I'm changing my sample to use SQL transport.

[2015-07-29 10:17] ramonsmits commented on #112
@a-belevich @yossita  Its not working with the SQL transport. Both the SQL transport and NHibernate persistence share their transaction on the pipeline context via the key `SqlConnection-{0}`.

The fix is easy and you even have choices:

- Make sure that the transport and persistence cannot share the same connection by configuring a different connection string. Just add a space character or change

[2015-07-29 16:22] yossita commented on #112
@ramonsmits, changing the connection string for timeouts + the custom connection provider solved our issue. Outbox and no transactionality are not valid options for us.

[2015-07-29 16:32] a-belevich commented on #112
@ramonsmits Thank you, it works.

[2015-07-31 11:43] sveinfid opened #114 ".NET Framework 4.6 runtime: SagaData with abstract base class"
After installing Visual Studio 2015, which includes the .NET Framework 4.6 runtime, I am receiving an error on startup when using SagaData with an abstract base class:

"NHibernate.MappingException: Could not compile the mapping document: mapping_by_code ---> NHibernate.MappingException: Cannot extend unmapped class"

Please have a look here for a minimal example:
https://github.com/sveinfid/NHibe

[2015-08-11 08:03] SimonCropp opened #115 "Missing negation in TimeToKeepDeduplicationData"
https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/Outbox/NHibernateOutboxStorage.cs#L58

has this

[code]

when it should be

[code]

[2015-08-11 08:04] SimonCropp commented on #115
and this as well https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/Outbox/NHibernateOutboxStorage.cs#L72

[2015-08-11 09:48] #115 closed

[2015-08-12 23:57] SimonCropp commented on #101
@SzymonPobiega seems like an easy fix. want me to have a go at it?

[2015-08-13 02:39] SzymonPobiega commented on #101
@SimonCropp not sure about that. Subscription messages can get duplicated in which case `SaveOrUpdate` makes sense. Also, the volume of these messages if very small compared to the timeout messages so the benefit here would be relatively smaller.

[2015-08-13 02:40] SimonCropp commented on #101
so can we just tell NH not to annoy us?

[2015-08-13 02:52] SzymonPobiega commented on #101
@SimonCropp I think the current solution is also broken. Suppose you get a duplicate `Subscribe` message (might happen in case a subscribing endpoint is scaled out). If these two messages happen to be picked up by different threads than it is essentially two threads executing the following pseudo-code inside `SaveOrUpdate`:

[code]

so a classic race condition.If both execute the query in the same

[2015-08-17 10:42] andreasohlund opened #116 "Make the timeout persister use existing connection if found"
Given that v6 no flows the context properly we can modify the TM persister looks for existing connections similar to how we do it for the outbox.

This would avoid DTC use when running on top of the sql transport

[2015-08-17 10:55] SzymonPobiega commented on #116
I am pretty sure it works like that:
 * https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/TimeoutPersisters/TimeoutPersister.cs#L82
 * https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/SharedSession/DbConnectionProvider.cs

[2015-08-17 10:57] andreasohlund commented on #116
Ah, I see that now!

Must learn to check the code before raising issues :)

[2015-08-17 10:58] #116 closed

[2015-09-01 10:34] janovesk commented on #101
More customers are [noticing](https://nservicebus.desk.com/agent/case/12748) this.

[2015-09-01 10:42] janovesk commented on #101
Would it work to just use

[code]

in this scenario? What does the update provide? You can't update a subscription?

[2015-09-01 10:57] SzymonPobiega commented on #101
@janovesk this might result in an exception because multiple threads might process similar subscription requests (coming from different instances of same endpoint).

The update is used when the version changes so if you subscribed to V4 and you deployed an instances the processes V5, the entry in subscription store will get updated. That said, I am not sure if this is really necessary.

[2015-09-11 09:28] SzymonPobiega commented on #112
Resolved via https://github.com/Particular/NServiceBus.SqlServer/pull/87

[2015-09-11 09:28] #112 closed

[2015-09-11 23:26] indualagarsamy opened #117 "Using Outbox results in multi-subscriber events being processed by only one subscriber"
### Who's affected

To be affected by this bug, you must be using the Outbox feature for message deduplication with NHibernate persistence, and publish events to multiple subscribers.

### Symptoms

An event is published for multiple subscribers, but only one subscriber successfully receives and processes the message. Other subscribers may receive the event and attempt to process it, but are unabl

[2015-09-14 07:46] SzymonPobiega commented on #117
Looking at V6 codebase, in V6 the problem would also manifest itself with non-broker transports. We decided with @andreasohlund to align non-broker transports in V6 with brokers and use the same message ID for outgoing events.

The problem is, out outbox persistence is keyed per message ID only. Endpoints cannot share the same database for outbox (like they can for subscriptions and timeouts). Not

[2015-09-14 08:28] andreasohlund commented on #117
I can't remeber that we had any reasons to do it this way :(

+1 For fixing it

[2015-09-14 13:08] andreasohlund opened #118 "Filter out dispatched outbox messages"
Currently we are not filtering out already dispatched transport operations. This creates unessesary downstream duplicates when a messages id deduped by the outbox.

We should modify

https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/Outbox/OutboxPersister.cs#L45

to only return non dispatched transport operations to prevent this from happening.

In essens

[2015-09-14 13:13] SzymonPobiega commented on #117
@indualagarsamy @andreasohlund @johnsimons @SeanFeldman I've added plan of attack.

[2015-09-14 18:31] SeanFeldman commented on #117
@SzymonPobiega why not to update `OutboxRecord` to include endpoint instance ID rather than creating a table per endpoint instance instead?
/cc @colin-higgins

[2015-09-14 21:40] DavidBoike commented on #117
All the options discussed so far are problematic. I think we should take a different course.

* Ability to customize table name per endpoint: This just creates a bit of secret knowledge you must have to get Outbox to work correctly when you publish events. Even if you knew you had to do it, it would be a really annoying customization to have to do in every single endpoint. Additionally, when you h

[2015-09-15 06:08] SzymonPobiega commented on #117
I like this approach @DavidBoike !

[2015-09-15 06:12] SeanFeldman commented on #117
@SzymonPobiega PoA needs to be updated. Would be good if you could think of potential issues with [this approach](https://github.com/Particular/NServiceBus.NHibernate/issues/117#issuecomment-140213543). We couldn't identify any serious drawbacks.

[2015-09-15 06:37] andreasohlund commented on #117
The only thing that comes to mind is the outbox cleaners interfering with
each other (like we saw in the desk case). How can we make sure that each
cleaner only touches the rows it "own" in a safe way? "delete where
dispatched && id.startsWith("MyEndpoint")"

Another option would be to configure NH(in this case) to not care that rows
where deleted underneath it?

On Tue, Sep 15, 2015 at 8:12 AM, S

[2015-09-15 06:40] SzymonPobiega commented on #117
So what we are doing is something like this

[code]

Why not just use `delete` HQL?

[2015-09-15 06:44] SeanFeldman commented on #117
@andreasohlund @SzymonPobiega I think you should consider endpoint name as well in the cleanup as optional.

[code]

[2015-09-15 06:59] SzymonPobiega commented on #117
I created a hotfix branch with my changes: https://github.com/Particular/NServiceBus.NHibernate/tree/hotfix-6.2.3

 * Query by id or unique id (`{Endpoint}/{MessageId}`)
 * Set as dispatched by unique id only
 * Store with unique id
 * Delete via `HQL` without checking affected rows

Here's the commit: https://github.com/Particular/NServiceBus.NHibernate/commit/69d0f58d7b1973d36c850076d0ea955d026d

[2015-09-15 09:42] SzymonPobiega commented on #117
@andreasohlund @SeanFeldman here are my thoughts about deletes:
 * The current in memory implementation (load the rows and delete them one-by-one) would cause exceptions not only in multi-endpoint scenario but also in a scale-out scenario where multiple instances of same endpoint compete to delete same rows -> a `HQL` query is needed
 * In order for the `HQL` to work, we need to change the new for

[2015-09-15 09:53] johnsimons commented on #117
Sorry for being late to the party!

Looking at the other tables (Subscriptions, Timeouts, ...), we have decided to include the endpoint column, I do understand that is a huge PITA to retrofit this change to the Outbox table but IMO that is the right way to go.
The advantage is that we can index that column (that same way we index that column in the other tables), and save on more expensive queries

[2015-09-15 09:55] johnsimons commented on #117
And yes, I did quite a bit of sql profiling to squeeze all performance I could get from SQL and i am super scared of introducing `IN` and `LIKE` into the mix.

[2015-09-15 10:23] andreasohlund commented on #117
Regarless if the solution, have we decided if this needs to be backported?

If we don't need to backport I guess @johnsimons has a point in that we
want to build the best solution possible?

On Tue, Sep 15, 2015 at 11:55 AM, John Simons <notifications@github.com>
wrote:

[2015-09-15 10:26] SzymonPobiega commented on #117
This is a message loss scenario that is happening on any 6.x version on NSB.NHibernate (NSB 5.x). As such, should be addressed on the level of current minor (6.2) as a patch release. No option to add a column here. I am more than happy to discuss pros and cons of adding a column in 7.0 but that would be probably targeting NSB 6.x.

[2015-09-15 10:32] andreasohlund commented on #117
Got it, that makes sense. So the scope here is a backwards compatible fix

[2015-09-15 13:18] DavidBoike commented on #117
I had forgotten about cleanup, but I don't know why the cleanup really has to employ a `LIKE`. Right now we're doing select + row-wise delete in NHibernate, which I would imagine is wildly less performant than using a LIKE in a single delete statement. If we updated that to `DELETE FROM OutboxRecord WHERE DispatchedAt < @Cutoff` and don't check the results (what's the point?) then we're making per

[2015-09-15 22:06] johnsimons commented on #117
@SzymonPobiega

Why can't we add a column in a patch release ?

[2015-09-15 23:14] indualagarsamy commented on #117
I am with @johnsimons. Why is adding a new column problematic in older version? Are we breaking semver if we are still backwards compatible? the old version, just won't use the new column right?

[2015-09-15 23:18] SeanFeldman commented on #117
@indualagarsamy are schema changes allowed by customers when upgrading a minor version?

[2015-09-15 23:18] johnsimons commented on #117
That is right @indualagarsamy, also I am pretty sure we have done a patch for either timeouts or subscriptions for exactly the same reason, @andreasohlund do u remember ?

[2015-09-15 23:22] johnsimons commented on #117
@SeanFeldman the way we recommend upgrading NSB systems is to uninstall old one followed by install new one, or side by side which is the same procedure except reversed.
So the schemas are refreshed as part of the installation.
As far as I know semver looks only at the public face of a programatic API not the data/schema, also adding a column is ok, removing it is where it breaks!

[2015-09-16 01:07] DavidBoike commented on #117
And the customers using DisableAutomaticSchemaUpdates() ?

[2015-09-16 01:38] indualagarsamy commented on #117
@davidboike - I see that as a communication thing, where we instruct our customers how to get the upgrade, if the case you're talking about is that they don't get the new schema. Deleting a column like @johnsimons mentioned would be breaking.

[2015-09-16 09:22] andreasohlund commented on #117
Pretty sure we did

Can't we code the patch to handle the missing column gracefully, so users that haven't updated the store just gets the old behavior?

In short: I'm with @indualagarsamy and @johnsimons on this one

[2015-09-16 12:27] SzymonPobiega commented on #117
I have no strong opinions here. I suspect if we add a `default` clause to the table creation script the old endpoints will be fine. I somehow dislike the fact that in order to upgrade to a minor or patch release we need to run the installers.

[2015-09-16 18:53] DavidBoike commented on #117
I was thinking that a change in schema would be a violation of SemVer, at least in spirit if not in letter. If we can add a column in a minor release, and do it transparently as long as you run the installer, and be completely forward compatible, and be sure to over-communicate the schema change, then let's do it.

[2015-09-16 21:03] indualagarsamy commented on #117
in the new code, we can detect if the new column ins't there and log a warning to inform the user that there is a new schema is available (especially if they are using `DisableAutomaticSchemaUpdates`) - A warning won't be breaking, plus with the other additional communication on how they patch this, I think that should about cover it?

[2015-09-16 22:16] SeanFeldman commented on #117
@SzymonPobiega I've updated PoA to reflect recent discussions as well as added bug-issue mandatory sections.

[2015-09-22 08:09] andreasohlund commented on #117
After talking to @johnsimons @udidahan @danielmarbach we came to the conclusion that long term we want to move to a "table"/"collection" per endpoint+storagetype, like we do with the sqlserver queue tables, since this gives us the best isolation but still allows the users to have endpoints sharing the same database.

In the light of this is there an option to instead of doing the column/composite

[2015-09-22 09:17] SzymonPobiega opened #119 "In next major release move to default table-per-endpoint for all storages"

[2015-09-22 17:42] DavidBoike commented on #117
I feel a little bit like this is running in circles back to the start.

I'm concerned how to do a transition in that case. And I'm really concerned if the user has to do all this configuration on a per-endpoint basis. With respect to SQL/Oracle, what isolation does separate tables give us that a column and an index doesn't?

And are we talking going to separate tables for V6-updated or for V7 of N

[2015-09-22 17:48] andreasohlund commented on #117
I've had a follow up talk with @indualagarsamy and @SzymonPobiega and we concluded that we should go with a hybrid solution:

1. Make the outbox always safe to use in shared table mode by modifying the ids to contain the endpoint name. This makes sure that no matter what the users does we're safe

2. We also (in the next major) change the persistence to by default use a separate table per endpoint

[2015-09-22 17:54] DavidBoike commented on #117
Two questions:

1. What's the default table naming convention then for NH V7? `{EndpointName}.Outbox` ?
2. What would be the transition plan during a V6 to V7 conversion?

[2015-09-22 17:59] andreasohlund commented on #117
Talked with @SimonCropp (who's working on a pure sql server storage sample) and we talked about some thing along the lines of `{endpointname}.{storage type}.storage` to not clash with sqltransport queue tables?

Regarding migration: Yea we'll have to figure that out

[2015-09-22 18:29] DavidBoike commented on #117
I can see how Saga storage almost requires NH but it does kind of seem an unnecessary crutch for everything else. And I like `{endpoint}{storagetype}.storage`. And I like getting it fixed with current schema.

And on migration: can't win 'em all I guess. ;-)

[2015-09-23 08:53] andreasohlund opened #121 "Verify performance when endpoints share storage tables"
The usual perf tests we do only focus on a single endpoint. We need to check performance when multiple endpoints share the same storage table (timeouts, subscriptions, and soon Outbox).

cc @johnsimons @udidahan

[2015-09-24 06:03] adamralph commented on #117
@DavidBoike are you task lead here? should you be assigned?

[2015-09-24 14:43] DavidBoike commented on #117
Sure I can be task lead. Updated PoA for composite key with current schema + straight SQL cleanup.

If there are no objections I assume this is ready to go, and I'll probably start work on it today or tomorrow.

If anyone else would like to jump in the first 2 PoA points could be done in parallel.

[2015-09-25 06:28] andreasohlund commented on #117
We need to craft the customer communication and perhaps flesh out the impact (ie: https://github.com/Particular/PlatformDevelopment/blob/master/IssueTemplate.md)

[2015-09-28 13:51] andreasohlund commented on #117
I was thinking about the Customer Communication for this one and realized

1. The scope of this issues is only the non-message driven transports (ASB + Rabbit) since v5 still makes the message ids unique - https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Unicast/Publishing/StorageDrivenPublisher.cs#L46

2. We need to tell the users how to recover from this situation. Can

[2015-09-28 17:06] DavidBoike commented on #117
Ah, you're saying if you're using MSMQ or SQL transport and publish an event, because there are no topics, each of those messages gets a unique ID and then Outbox is happy. Good - I would think that decreases the surface area of this bug pretty significantly.

Best we could do for recovery would be to dredge SC info for events, then analyze the processing handlers, essentially doing a GroupBy on t

[2015-09-28 17:14] DavidBoike commented on #117
Updated bug sections to be more explicit and more customer communication appropriate, along with generating a customer communication.

[2015-09-29 17:35] andreasohlund commented on #117
Since this is message loss I don't think we have a choice.

I wish we had a more powerfull query api in SI to avoid building custom tools for this every time :(

[code]

[2015-09-29 18:38] DavidBoike commented on #117
We just agreed in Platform Dev sync that a full-fledged tool is probably overkill. It's a distinct possibility we'd spend a lot of time on it and then nobody would use it, and it certainly couldn't do anything automatic to fix anything.

Instead, we can develop a Raven Studio query that could be run in ServiceControl in maintenance mode and provide instructions for executing it. This would let the

[2015-10-01 21:43] DavidBoike commented on #117
First two points of PoA addressed in PR #122

[2015-10-02 17:01] DavidBoike commented on #117
Here's the details for the Raven query:

## Index Definition
I named mine **FindOutboxMissedMessages** which is only important if you use the URLs I'll add later.

### Map

[code]

### Reduce
[code]
### Fields
* EndpointCount, Indexing = Analyzed

## Queries
Executing an empty query against this index ([equivalent direct db query](http://localhost:33333/storage/indexes/FindOutboxMissedMessages)) w

[2015-10-02 19:28] DavidBoike commented on #117
To spell out which messages may be affected required a grand total of 2 Map/Reduce indexes and some C# glue to bring them together.

This is the result:
https://github.com/DavidBoike/NHibernate.Issue117Detector

Definitely in the PoC stage and not polished by any means.

[2015-10-02 20:11] DavidBoike commented on #117
Example output on my machine:

[code]

This data is just me messing around with MSMQ though, by having in-memory persistence and not starting one endpoint so that an event only goes to one subscriber. This tells me that **if you're using MSMQ with Outbox enabled, you may be hit by this bug too**. It looks like the logical message ID, which NServiceBus generates (not the MSMQ infrastructure id) is

[2015-10-03 09:33] andreasohlund commented on #117
Yes but only if you have InMemory persistence for your subscriptions right?

On Fri, Oct 2, 2015 at 10:11 PM, David Boike <notifications@github.com>
wrote:

endpoints:

endpoints:

endpoints:

endpoints:

endpoints:

endpoints:

endpoints:

endpoints:

persistence and not starting one endpoint so that an event only goes to one
subscriber. This tells me that if you're using MSMQ with Outbox enabled

[2015-10-05 19:01] DavidBoike commented on #117
I don't think so. If you have SQL Server with AlwaysOn, you have no DTC support, and so you could use MSMQ with no DTC, and enable Outbox with NHibernate. And then, because the logical, NSB-generated message id is the same, even though it's storage-driven publishing, you still have the same problem.

Right?

[2015-10-06 06:22] andreasohlund commented on #117
Hmm, SqlServer is using the messagedriven pubsub so it shouldn't be affected? (unless you're testing this on core v6)

[2015-10-13 14:16] DavidBoike commented on #117
Confirmed: Msmq + Disable DTC + NH Outbox causes the bug. Going to test SQL Server transport next.

[2015-10-13 14:41] DavidBoike commented on #117
Problem with SqlServer transport too. I think we need to assume it's bad on all transports. Will update issue text accordingly.

[2015-10-19 04:08] SimonCropp opened #137 "DB connectivity Exception in outbox cleanup will result in endpoint crashing"
From here https://groups.google.com/forum/#!topic/particularsoftware/Yvsakhr14Lo

If a connection to the DB fails in RemoveEntriesOlderThan https://github.com/Particular/NServiceBus.NHibernate/blob/master/src/NServiceBus.NHibernate/Outbox/OutboxPersister.cs#L91  then the exception will bubble and the endpoint will crash.

[2015-10-19 05:49] SimonCropp commented on #137
full stack trace and exception type

[code]

[2015-10-19 06:33] SimonCropp commented on #137
@DavidBoike any problem this going into hotfix-6.2.4

[2015-10-19 06:34] SimonCropp commented on #137
spoke to @andreasohlund and this should be a circuit breaker. i am thinking if it fails more than 10 time in a row we call critical error

[2015-10-19 21:16] DavidBoike commented on #137
I don't think that would be a problem. I was planning to backport to 6.1.4 and 6.0.4 as well. You see any issue with that, and including the CircuitBreaker in those versions as well?

I am running out of time today to try to implement that myself. Were you thinking about doing it? If not, I can work on that tomorrow. I'm currently trying to [get 6.2.4 tests to like me](https://github.com/Particula

[2015-10-20 21:39] DavidBoike commented on #137
Implemented for 6.2.4 with [this commit](https://github.com/Particular/NServiceBus.NHibernate/commit/b867b050f30f8345f2e9b221c9265ebe44f4cdea)

[2015-10-22 19:57] andreasohlund commented on #83
@DavidBoike this is done right?

[2015-10-22 20:35] DavidBoike commented on #83
Yep, NH for Core V6 makes its unique indexes off the saga metadata, honoring those props.

[2015-10-22 20:35] #83 closed

[2015-10-23 16:04] #117 closed

[2015-10-23 16:05] #137 closed

[2015-10-30 14:52] DavidBoike commented on #117
Although this case was closed to generate release notes, the PoA is now completed and I am calling it done-done.

[2015-11-06 09:42] SzymonPobiega commented on #118
Fixing this in the hotfix here https://github.com/Particular/NServiceBus.NHibernate/commit/e30acd748a7df1b60051fe913535a4000b0cf3cc.

@andreasohlund @Particular/nservicebus please review

[2015-11-09 13:44] #118 closed

[2015-11-12 06:47] danielmarbach opened #138 "Async/Await support"
Task force: @SzymonPobiega @DavidBoike

Connects to Particular/PlatformDevelopment#182
Connects to https://github.com/Particular/NServiceBus/issues/3126

This is the NHibernate adapter epic which incorporates the work for making the NHibernate adapter async/await enabled. Please see [this blog post](http://particular.net/blog/async-await-its-time) about the reasoning behind it.

[2015-11-12 07:07] andreasohlund commented on #138
I'm not working on this, last I heard @SzymonPobiega was looking at this?

[2015-12-07 18:48] DavidBoike opened #139 "Potential memory leak"
Pretty simple repro, using NServiceBus 5.2.9 and NServiceBus.NHibernate 6.2.3 on .NET 4.6:

[code]

Taking snapshots in VS2015 Diagnostic Tools yields a fairly predictable increase in heap objects with each run:

![image](https://cloud.githubusercontent.com/assets/427110/11636058/cb5af512-9cdf-11e5-9f1d-831e99fd1e22.png)

Although, this may be fairly low priority since it assumes bus instances are

[2015-12-23 12:01] ramonsmits opened #140 "Using NServiceBus pre 5.2.8 with version 6.2.5 results in NullReferenceException"
Using NServiceBus version 5.2.4 with NServiceBus.NHibernate version 6.2.5 results in a NullReferenceException

System.NullReferenceException: Object reference not set to an instance of an object.
  at NServiceBus.Timeout.Hosting.Windows.TimeoutPersisterReceiver.Poll(Object obj) in c:\BuildAgent\work\3206e2123f54fce4\src\NServiceBus.Core\Timeout\Hosting\Windows\TimeoutPersisterReceiver.cs:line 88

[2015-12-23 12:58] ramonsmits commented on #140
The cause is that the implementation is not backwards compatible as it has a runtime dependency on the V2 interface which is not available in pre NServiceBus v5.2.8

[2015-12-24 09:09] ramonsmits commented on #140
All the latest versions of other official transports target at least NServiceBus v5.2.8 which makes NServiceBus to be automatically updated if they add these (latest) transport packages to their project via the nuget management UI and this behavior cannot occur.

However this exception can still occur with other transports too if updating to a specific older version:

* NServiceBus.RavenDB v2.1.2

[2015-12-29 13:29] ramonsmits opened #142 "Disabling distributed transactions causes InvalidCastException"
When disabling distributed transactions (`.Transactions().DisableDistributedTransactions()`) resolving the current transaction via `NHibernateStorageContext.DatabaseTransaction` results in the following InvalidCastException:

   at NServiceBus.Pipeline.BehaviorContext.TryGet[T](String key, T& result) in C:\BuildAgent\work\3206e2123f54fce4\src\NServiceBus.Core\Pipeline\BehaviorContext.cs:line 72

[2015-12-29 14:44] ramonsmits commented on #142
@SzymonPobiega Please check this issue. I've created a patch in the hotfix-6.2.6 branch and that seems to work but I don't know if that is the correct behavior.

[2015-12-29 22:03] SimonCropp commented on #142
Is a patch really required here? Cant this wait till the next major of NH?

[2015-12-29 23:33] ramonsmits commented on #142
@SimonCropp Next major version is probably targeting NServiceBus v6. Current version does not allow to share the same connection as persistence when having distributed transactions disabled. Have not tested yet if this is only the case with SQL transport.

I created the hotfix to test if it would make the sample run in that configuration to confirm my assumption about its behavior.

[2016-01-07 10:46] ramonsmits opened #143 "RemoveEntriesOlderThan is not bounded"
The current implementation both the client side queryover and server side delete statements are unbounded. If you have a very large number of items that will be deleted that that impacts locking and writing huge amounts of data in a single transaction to the journal log.

I better implementation is to do batched deletes in seperate transactions until there are no more items to be purged.

[2016-01-07 16:24] ramonsmits commented on #143
After a chat with @DavidBoike we agreed that it would be hard to do in a database agnostic way.

We agreed on to test the affected row count and log a warning when a configurable arbitrary (6.000?) limit is passed. This means that if a customer is having more than 100 msg/s that he will be getting warnings to use a smaller cleanup interval.

https://github.com/Particular/NServiceBus.NHibernate/blo

[2016-01-08 19:14] ramonsmits opened #144 "Change outbox record indexes and colums"
**This needs additional info** WIP

We have the following indexes:

1. PK, clustered
2. MessageId, non clustered
3. Dispatched, non clustered
4. DispatchedAt, non clustered

We have the following queries:

[code]
Uses: (2)

[code]
Uses (2) and (3)

[code]

Uses (3) and (4)

This is non optimal as multiple indexes need to be queried when updating and deleting which results in unneeded locking and c

[2016-01-13 16:23] Scooletz opened #145 "TimeoutPersister should use '>' rather than '>=' when applying slice predicate"
Currently the `TimeoutPersister` uses the following predicate to filter out timeouts:
[code]
https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/TimeoutPersisters/TimeoutPersister.cs#L40

`ExpiredTimeoutsPoller` issues queries against `IQueryTimeouts` with the oldest of timeouts returned in the previous query. Having that logic combined with the predicate a

[2016-01-13 16:26] Scooletz commented on #145
+ @timbussmann

[2016-01-14 11:20] ramonsmits opened #146 "Set TransportOperations to NULL when marking as dispatched"
Related fix: https://github.com/Particular/NServiceBus.NHibernate/tree/clear-transportoperations-when-dispatched

### Who's affected

Users of NSB 5.x

### Symptoms

We currently only mark the record as dispatched. When the record is deleted during cleanup this delete is expensive due to the nvarchar(max) due to the amount of locking required. This is not an issue when doing a single delete but th

[2016-01-25 07:29] SzymonPobiega opened #148 "Improve OutboxRecord delete performance"
Raised via GG https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/particularsoftware/nj0wMiucx_k/9AsTSTziDQAJ

Possibly related to #144

[2016-01-25 07:29] SzymonPobiega commented on #148
@WilliamBZA I've created this issue to track the perf problem the user reported.

[2016-01-26 09:29] WilliamBZA commented on #148
The outbox concept should be re-evaluated. In high throughput scenarios the Outbox table doesn't scale and the delete isn't able to keep up and results in table locks - especially with multiple services using a shared enpoint.

Potential solutions that may help (need a test harness first)
- Split the outbox table into two, where each table represents the de-dup and the processing aspects. This wou

[2016-02-01 13:07] SzymonPobiega opened #151 "Timeout persister semantics are not *exactly-once* when TransactionScope is provided"
Timeout persister supresses the transaction scope in `Add` and `TryDelete` methods allowing for timeout duplication even in scenarios where no duplicate messages are allowed (MSMQ or SQL Server transport with Transaction Scope)

[2016-02-02 00:38] SimonCropp opened #152 "RegisterManagedSessionInTheContainer seems to be a no-op"
it sets a value that doesnt seem to be used. also has no tests

[2016-02-02 00:44] SimonCropp commented on #152
@HEskandari  perhaps this should be the same as ravendb in that it can be retrieved from the context and not IOC?

https://github.com/Particular/NServiceBus.RavenDB/issues/151

[2016-02-02 01:14] SimonCropp commented on #152
so it seems this method is replaced by

[code]

[2016-02-02 03:21] HEskandari commented on #152
Can the ```RegisterManagedSessionInTheContainer``` method be obsoleted? @SzymonPobiega? Sent a PR.

[2016-02-02 04:27] SzymonPobiega commented on #152
Yes, storage session is the way to go since we want to get rid of the container usage for NSB's stuff in the long run.

[2016-02-18 23:54] HEskandari commented on #152
I couldn't find the PR for this...so planning to send a new one.

@SzymonPobiega could you confirm that the two methods should be obsoleted? I can't find anything related to ``UseCustomSessionCreationMethod`` and ``RegisterManagedSessionInTheContainer`` methods on configuration extension.

[2016-02-19 06:12] SzymonPobiega commented on #152
Hmmm It would be nice if we could have `UseCustomSessionCreationMethod` in the new version but not sure if this is possible.

[2016-02-22 06:08] SzymonPobiega opened #158 "OutboxCleaner kills the endpoint after raising critical error"
## Symptoms

`OutboxCleaner` kills the endpoint (by throwing an exception from `Timer` callback) right after raising critical error in case of persistent connection problems

## Who's affected

Everybody

## Root cause

https://github.com/Particular/NServiceBus.NHibernate/blob/master/src/NServiceBus.NHibernate/Outbox/NHibernateOutboxStorage.cs#L109

### Raised in

Desk case [15739](https://nservic

[2016-02-22 10:02] #142 closed

[2016-02-22 10:02] SzymonPobiega commented on #158
Fixed in #141

[2016-02-22 10:02] #158 closed

[2016-02-23 01:08] HEskandari commented on #152
Currently I can see that there are SessionFactories created per feature, e.g. Storage Session, Gateway Deduplication, Subscription Storage and Timeout Persister.

How about if we have something to encapsulate SessionFactory and / or Session creation, and use that in all those places?

public interface IManageSessionFactory
{
   ISessionFactory CreateSessionFactory();
}

Would that be enough to giv

[2016-02-23 07:11] SzymonPobiega commented on #152
So the 6.X `UseCustomSessionCreationMethod` seems wrong because you can't get the reference to the actual session factory so you are providing a session possibly missing mappings etc. There are config methods for providing `Configuration` object. I wonder if this is not enough? Or maybe we should have a hook like `InitSession` where we pass a fresh session and let users fiddle with it?

`RegisterM

[2016-02-23 13:11] tmasternak opened #161 "NHibernate TimeoutPersister increases chances of getting Concurrency exception in TimeoutDispatcher"
With NServiceBus.NHibernate we always get two control messages for each TimeoutPoller Spin. This often result in concurrency exception in TimeoutDispatcher and FLR kicking in. Here is the scenario in which this happenes.
   a. Timeout message is stored by TimeoutStorage
   b. Poller is notified about new timeout which results in NextRetrieval being set to exprityTime and  timeoutPushed to true

[2016-02-23 16:56] timbussmann commented on #161
is this a duplicate to to https://github.com/Particular/NServiceBus.NHibernate/issues/145 ?

[2016-02-23 16:57] tmasternak commented on #161
Yes closing this one.

[2016-02-23 16:57] #161 closed

[2016-02-23 21:08] andreasohlund opened #162 "Build status for acpt tests builds are not feed back to GitHub"
The "GH feedback" feature seems to be missing

https://builds.particular.net/admin/editBuildFeatures.html?id=buildType:NServiceBusNHibernate_2AcceptanceTests

This causes eg. https://github.com/Particular/NServiceBus.NHibernate/pull/159 to show up green but there is loads of failing tests

[2016-02-24 04:21] SimonCropp opened #163 "Add obsolete for RegisterManagedSessionInTheContainer"
seems it was deleted with no obsolete

[2016-02-24 14:11] tmasternak opened #164 "Deferred messages not delivered until endpoint restart"
taskforce: @tmasternak @timbussmann

For V6 related discussion see: #https://github.com/Particular/NServiceBus/issues/3500
## Who's affected
- Any user user who uses NServiceBus.NHibernate. Users of SQL Azure are more likely to experience the problem because of more frequent connection problems when using a remote database server.

## Symptoms

In certain rare condition deferred messages to be del

[2016-02-24 16:26] #140 closed

[2016-02-26 07:58] tmasternak commented on #164
We have a test which reproduces the bug.

[2016-02-29 16:58] ramonsmits commented on #146
As I was affected by this when doing a stress test I made this change in ff0cb11 can we consider a hotfix for this?

[2016-03-02 12:42] andreasohlund commented on #146
Looks like ravendb has the same issue.

@Particular/persistence-maintainers I think we need to triage this since we might need to hotfix

[2016-03-02 13:18] ramonsmits opened #169 "Reduce outbox message ID storage size"
Store endpointname as a relation, not append it to the ID and store the ID as GUID reduces outbox record ID size.

* Store endpoint name separately
* Store ID as GUID, not as nvarchar(max)

## Endpoint name as seperate table

Store endpoint name as a relation, not append it to the ID as it is highly repetitive wasting storage for no reason.

Example:

    MySystemName.ServiceBoundary.Component/e3d

[2016-03-02 13:22] ramonsmits opened #170 "Store transport operations as NTEXT instead of NVARCHAR(MAX)"
As transport operations as usually just stored very briefly. The current approach would live large 'gaps' in data pages if removing of nulling transport operations when the messages are dispatched.

By using NTEXT we force SQL to store the transport operations in a different data page.

The result is more compact outboxrecord records that needs less maintenance and results in less defragmentation.

[2016-03-02 16:49] DavidBoike commented on #146
I would think the severity of this is low, and there's no possibility of data loss. On the other hand it is probably a 1-line fix.

[2016-03-02 19:12] andreasohlund commented on #146
The thing that could make it a "patch" would be the added disk usage. Do we have any numbers?

[2016-03-02 23:27] ramonsmits commented on #146
@andreasohlund Lets assume that the customer is using the default window

I just queried my databases and had one outboxrecord table containing transportoperations.

Single record, single operation consumed 1001 characters so 2002 bytes. This is a single operation

Lets make some assumptions:

-  Dedupe window: 7 days
- Average throughput: 100 msg/s
- Average message send count on receive: 0.25
-

[2016-03-03 07:01] andreasohlund commented on #146
Thanks @ramonsmits , do we say this is a patch based on these numbers?

Flagging this as core v6 since I think we should definitely fix this for that release

[2016-03-03 07:12] HEskandari commented on #138
There's #146 to take care of, plus investigating why some of the ATT tests are unstable on TeamCity. Then we should be able to close off this epic.

[2016-03-03 07:24] ramonsmits commented on #146
To be honest, this whole discussion has taken me more time then releasing this as a patch. I think this is the good thing even for V5 as this has a huge impact on storage size.

[2016-03-03 19:05] #105 closed

[2016-03-04 12:48] tmasternak opened #173 "Improve unreliable acceptance tests"
Following tests are failing now and then:
 * MutingHandlerExceptions.RunDemo
 * When_sending_to_slr.Should_raise_FinishedMessageProcessing_event
 * When_reply_from_a_finder.Should_be_received_by_handler

I looks that they pass/fail in non-deterministic way.

[2016-03-04 14:17] DavidBoike commented on #170
From [MSDN](https://msdn.microsoft.com/en-us/library/ms187993.aspx):

nvarchar(max) is stored differently than a nvarchar(really-big-number). An nvarchar(max) will store the data inline in the page if it's "short enough" and if it's large enough, shuttle it off to a different page the same way ntext does. It's kind of a best-of-breed.

Closing as Won't Fix.

[2016-03-04 14:17] #170 closed

[2016-03-04 14:45] ramonsmits commented on #170
@DavidBoike Fair decision, didn't knew that NTEXT. Then the most obvious improvement would be to not store it in the same table. Thoughts?

[2016-03-04 14:49] ramonsmits commented on #146
By the way, this impacts #148 , clearing the transport operation results in a much easier to perform deletes by SQL as it will be less likely to escalate to page or table locks.

[2016-03-04 14:53] ramonsmits commented on #148
@WilliamBZA This cannot be translated to NHQL as this is not ANSI SQL is it?

This also relates to 143

[2016-03-04 14:59] WilliamBZA commented on #148
@ramon Probably not. But the whole query doesn't need to be NHQL.  We could do the while loop in C# and the delete in NH.

[2016-03-04 15:04] ramonsmits commented on #143
To extend this, the timer logic should be auto sensing with a min and max period.

By default we should start with a minute.

- We should keep track of the last X (25?) deletion row counts and execution timestamps
- Sum those and divide that by an ideal (configurable) batch size (1.000?).
- Calculate the factor (batchsize/sum)
- Calculate the sleep time: period in milliseconds * factor
- min / max

[2016-03-04 15:06] ramonsmits commented on #148
@WilliamBZA Doing to the loop in c# means you need to query for ID's and then do a batched delete on those ID's.

The autosensing behavior that I just put in a comment of #143 is probably the best solution when using NHibernate.

[2016-03-04 15:49] WilliamBZA commented on #148
@ramonsmits why would you have to query the ID's?

A SQL CommandReader (I don't know NHibernate well enough) would look like:

[code]

[2016-03-04 16:21] DavidBoike commented on #170
I think you're trying to out-optimize SQL Server. Storing it in a separate table is essentially what nvarchar(max) will do on disk level but a lot more efficiently. But an actual separate table would be more likely to result in lock escalation.

Would rather focus on #146 (subject to prio) if you're worried about cleanup.

[2016-03-04 16:33] ramonsmits commented on #148
@WilliamBZA That is not using NHibernate, you are now by passing it and you are using TSQL specific TOP  query which cannot be used with for example Oracle.

Bypassing is usually not an issue when using ANSI SQL but in this case it is.

[2016-03-04 17:11] WilliamBZA commented on #148
@ramonsmits Ah, following you now.

[2016-03-07 03:06] HEskandari commented on #163
Related to / duplicate of #152

[2016-03-07 06:40] SimonCropp commented on #163
@HEskandari sorry for this i think i must have been due to me monkey patching some dlls on my local machine

[2016-03-07 06:40] #163 closed

[2016-03-07 09:07] HEskandari commented on #152
@SzymonPobiega I have made both obsolete. As for custom session creation, think providing custom ```Configuration``` object would provide *some* benefits. I'm not sold on providing hook like ```InitSession``` though and not sure what benefit would that bring?

[2016-03-07 09:14] SzymonPobiega commented on #152
@HEskandari true. Let's now do `InitSession`. Custom `configuration` is useful when you want to provide some additional mappings.

[2016-03-07 09:25] SzymonPobiega commented on #151
Fixed here https://github.com/Particular/NServiceBus.NHibernate/pull/160

[2016-03-07 09:25] #151 closed

[2016-03-08 07:58] SzymonPobiega commented on #152
@HEskandari I've found a case where some kind of "provide session" method might be useful -- multi tenant deployment. In such case we want to provide a session based on the message (probably headers). But we can address this in a minor release following 7.0.

[2016-03-11 10:54] mikeminutillo commented on #152
Is this one waiting on https://github.com/Particular/NServiceBus.NHibernate/pull/175 ? What needs to be done to close this issue? Can you add a Plan of Attack to the issue?

[2016-03-11 11:14] WojcikMike commented on #146
* What is the plan of attack for this issue?
* Why @SzymonPobiega is assigned to it? (he self assigned himself 9 days ago)

I am asking as I would gladly take it but I am not completely sold what should be done.

[2016-03-11 11:17] WojcikMike commented on #138
@SzymonPobiega is the Task Force still working on it? Is it blocked as @HEskandari described? In which case can we mark it as blocked?

Who is working on ATT being unstable? @HEskandari are you working on them?

[2016-03-11 11:59] SzymonPobiega commented on #146
@WojcikMike the current state is that change has been applied in the V6 version. It has been debated if this should be applied to V5 as a patch. @WojcikMike if you feel like releasing NHibernate, you are free to proceed.

[2016-03-11 11:59] SzymonPobiega commented on #146
Removing the V6 label as it has already been done in develop.

[2016-03-11 12:07] adamralph commented on #146
@SzymonPobiega there's no need to remove the label after the issued is closed. If it's part of the V6 Launch project then that doesn't change when it is closed.

[2016-03-11 12:16] SzymonPobiega commented on #146
@adamralph OK. This one still has it: https://github.com/Particular/NServiceBus.NHibernate/pull/176

[2016-03-11 12:42] SzymonPobiega commented on #138
@HEskandari #146 is now only V5-focused as I already implemented similar feature for V6. I think we can close this one now.

[2016-03-11 22:07] HEskandari commented on #152
@mikeminutillo yes, once we close/merge #175 and the [docs PR][1] this is effectively done.

[1]: https://github.com/Particular/docs.particular.net/pull/1299

[2016-03-11 22:10] HEskandari commented on #138
There's a minor change and documentation that's being finalized (#175 and the [docs PR][1]) and then we can close this one.

[1]: https://github.com/Particular/docs.particular.net/pull/1299

[2016-03-22 07:16] #110 closed

[2016-03-22 07:23] SzymonPobiega opened #177 "Support storing saga data in serialized form"
Because of [this issue](https://github.com/Particular/PlatformDevelopment/issues/686) we need to support storing saga data in serialized form (rather than in tables and columns). Here are some questions that need to be answered:
- What serialization library to use? RavenDB uses a customized Json.net so it seems like a natural choice but on the other hand we decided to move away from json.net and,

[2016-03-22 07:24] SzymonPobiega commented on #177
@HEskandari I put together a short list of questions that need to be answered in order to build this blob thing. Am I missing something?

[2016-03-22 07:36] johnsimons commented on #177
Did @SzymonPobiega just added the V6 label to this :scream:

[2016-03-22 07:58] SzymonPobiega commented on #177
@johnsimons based on https://github.com/Particular/PlatformDevelopment/issues/686 there is no option to not deliver this as part of V6. See this issue as an extension of 686 in this repo and since 686 has been approved and marked as critical I don't see a reason to go through the same process for all the subtasks of 686.

[2016-03-22 08:16] SzymonPobiega commented on #177
@johnsimons scratch :point_up:, you're right. Since we have not decided if we are using @SimonCropp 's SQL persistence or changing NH, this is not yet "V6 approved".

[2016-03-22 08:21] HEskandari commented on #177
- I'm good with using `JsonDataContractSerializer`. Although performance was a concern when compared to other options (@tmasternak ran the tests), is that perf test relevant here?

- On supporting both Relational and / or Blob, think we need to think about the trade offs.
  - Supporting both:
     Pros: backwards compatible, more easily queryable, less headache for people moving to v6, not much di

[2016-03-22 09:31] tmasternak commented on #177
@HEskandari the end [decission](https://github.com/Particular/NServiceBus.SqlServer/pull/152#issuecomment-179807132) was to go with `JsonDataContractSerialier` which looks to be good enough and provide extension point in the future for users to register custom seirlizer if they need better performance.

[2016-03-22 10:58] SzymonPobiega commented on #177
What I am afraid with regards to `JsonDataContractSerialier` is that it might behave differently is some odd scenarios. Keep in mind that messages are usually far simpler than sagas, especially if the saga data classes are generated by ServiceMatrix.

[2016-03-22 10:59] danielmarbach commented on #138
@HEskandari since the outstanding work is tracked by the linked issues and they are merged I'm closing this one.

[2016-03-22 10:59] #138 closed

[2016-03-22 11:56] tmasternak commented on #177
@SzymonPobiega good point. In SqlTransport we where using it only for header serialization wich is simple Dictionary.Of(string, string)

[2016-03-22 12:36] HEskandari commented on #177
Is there a way to test that? We probably need some customer's databases (also to write and test the migration tool), can we test `JsonDataContractSerialier` on some of those databases to see what odd scenarios are and how it might behave?

[2016-03-22 15:57] boblangley commented on #152
@HEskandari it looks like both of those are merged. Can we close?

[2016-03-22 23:43] HEskandari commented on #152
@boblangley agreed. Closing it now.

[2016-03-22 23:43] #152 closed

[2016-03-23 07:11] SzymonPobiega commented on #177
Yeah, some real data would be good. I know for sure that inheritence handling is different in these two serializers (the name of the meta-property that contains the real type name of the object). Probably handling of "weird" types need to be check (dates, times, decimal/float numbers, various strange collections etc.)

[2016-03-24 14:31] DavidBoike opened #178 "Minimize public API surface area"
For VNext, add APIApprover test and minimize surface area of the public API.

Must be `Project: V6 Launch` otherwise it will be too late.

See https://github.com/Particular/NServiceBus.AzureStorageQueues/pull/56#issuecomment-200855259

Connects to https://github.com/Particular/PlatformDevelopment/issues/762

[2016-03-29 08:26] SzymonPobiega commented on #101
@Particular/persistence-maintainers is this something we should consider fixing in V6?

[2016-03-29 22:58] HEskandari commented on #101
Shouldn't this be treated as a bug? In that case I'd fix it in v5 (or lower) and port it to v6 as well.

[2016-03-30 04:39] SzymonPobiega commented on #101
Technically it is not a bug because FLR takes care of the problem without user even noticing.

[2016-03-30 16:34] DavidBoike commented on #101
And it could be fixed at any time. Not critical for V6.

[2016-04-01 08:08] SzymonPobiega commented on #178
@DavidBoike I've created a PR #179  that adds the approval tests. What else needs to be done to close this?

[2016-04-01 11:14] SimonCropp commented on #178
I imagine go through every public api and confirm it should actually public. As a rule of thumb: if it is not documented it should not be public

[2016-04-13 20:15] DavidBoike commented on #169
This would be a huge breaking change, drastically altering schema, so could only be done in a major. It would also represent an incredible challenge to migrate a system to the new schema, and I'm not sure if that difficulty would be worth the benefit, from a customer's perspective.

I do question if the assumption of 100 msg/sec, which I do not really view as a "normal" use case. I think anyone ru

[2016-04-13 20:34] ramonsmits commented on #169
@DavidBoike Which transaction would span two tables? This would never happen.

[2016-04-13 20:35] ramonsmits commented on #169
@DavidBoike Not from an outbox perspective... What about all other tables that are actually part of that transaction? Saga entities, operation transport rows and / or business data?

[2016-04-13 20:35] DavidBoike commented on #169
When you say "use two tables", an assumption could be made that both would be involved in every Outbox transaction. I know that's not the intent, I am just rendering it very explicit.

[2016-04-13 20:39] ramonsmits commented on #169
@DavidBoike You would never insert and / or update the 'endpoint' table together with an insert, update or delete of the outbox record. The only thing that could happen is a FK contraint for the endpoint ID if that would be enabled.

Unless you mean a SELECT to retrieve the endpoint ID. There you would rely on NHibernate 2nd level cache OR just cache the value in memory.

[2016-04-13 20:41] ramonsmits commented on #169
Here its all about index size, indexes that are better kept in memory than on disk. Storage is cheap, memory ain't.

[2016-04-13 20:42] DavidBoike commented on #169
I would want it retrieved (or inserted if first run) on endpoint startup and kept in memory. No funny NHibernate monkeybusiness. Then the rest of the time the endpoint could treat it as a constant.

[2016-04-13 20:43] ramonsmits commented on #169
100 msg/s isn't normal? Define normal please :-)

[2016-04-14 15:42] timbussmann opened #183 "Exclude dynamic assemblies from Configuration"
Under certain circumstances it's possible for NServiceBus to include dynamic assemblies containing messages in the assembly scanning process (e.g. using `AllAssemblies` API and hosting multiple endpoints in the same AppDomain). This results in `settings.GetAvailableTypes()` returning types from these dynamic assemblies. `NHibernateSagaStorage` adds all assemblies from message types to the `Configu

[2016-04-14 21:36] ramonsmits commented on #144
Additional changes for consideration: https://groups.google.com/forum/#!topic/particularsoftware/CaZMSSti6BE

## TL;DR

- Use partitioning on DispatchedAt
- Improve cleanup logic

### Some background

### Changes I had to make

### And the question

[2016-04-14 21:38] ramonsmits commented on #143
Additional changes for consideration: https://groups.google.com/forum/#!topic/particularsoftware/CaZMSSti6BE

## TL;DR

- Improve cleanup logic

Also linked to #144 which is about index optimizations.

### Some background

[2016-04-15 07:29] danielmarbach commented on #183
On the fence about the core. Can we envision scenarios where users actually would like to include dynamic assemblies from a core perspective? What would they be able to do with these types? In theory you could write dynamic code into an assembly containing message handlers or other things like startables and such. I'd say the safest solution right now would be to exclude it in NHibernate.

[2016-04-15 07:30] danielmarbach commented on #183
Can you also document the workaround here in the description?

[2016-04-15 07:35] andreasohlund commented on #183
Seems safest to not exclude them by default in the core but have a `config.ExcludeDynamicAssembliesFromScanning()` or similar?

Did v5 include dynamic asms? (pretty sure it does)

[2016-04-15 08:26] timbussmann commented on #183
this bug is v5 related, did not verify v6 behavior yet.

will do, currently awaiting feedback from the groups topic.

[2016-04-20 07:01] SimonCropp opened #184 "treat warnings as errors"

[2016-04-20 07:03] SimonCropp commented on #184
wrong repo

[2016-04-20 07:03] #184 closed

[2016-04-25 12:51] andreasohlund commented on #178
Connected this to https://github.com/Particular/PlatformDevelopment/issues/762

[2016-05-16 18:35] andreasohlund opened #187 "Installers blow up when used with Ninject"
Version: Latest beta 6

### To repro

Use the `samples\nhibernate\custom-mappings\NHibernate_7` sample, install ninject, configure it to just ninject, start.

### Exception

[code]

[2016-05-16 18:45] andreasohlund commented on #187
I wonder if this is an NInject issue, I was able to repro it with this code:

[code]

[2016-05-16 18:46] andreasohlund commented on #187
@Particular/container-maintainers ideas?

[2016-05-16 19:05] WilliamBZA commented on #187
Will dig into it tomorrow, but perhaps it has a similar fix to [this](https://github.com/Particular/NServiceBus.CastleWindsor/issues/8) issue?

[2016-05-16 19:06] andreasohlund commented on #187
Yea, I'd say stop using funcs in NH is the safest move

On Mon, May 16, 2016 at 9:05 PM, WilliamBZA <notifications@github.com>
wrote:

[2016-05-16 19:08] andreasohlund commented on #187
We can just pass a `bool noOp` to the installer

[2016-05-17 14:45] andreasohlund commented on #187
Turns out a boolean flag blows up as well. This looks like a ninject bug, debugging this with @danielmarbach , repro here:

https://github.com/Particular/NServiceBus.Ninject/tree/ninject-bug

[2016-05-19 09:31] danielmarbach commented on #187
@andreasohlund your approach works. I just verified it again by extending the tests see https://github.com/Particular/NServiceBus.Ninject/commit/5100d560cd44e05453a3cc3643448150ca539292

![image](https://cloud.githubusercontent.com/assets/174258/15389039/2daf94ec-1db5-11e6-9c74-ab00dff53eb7.png)

[2016-05-19 13:18] andreasohlund commented on #187
Found a workaround, we'll use the settings dictionary instead. Will create  a PR, stay tuned

[2016-05-19 13:23] WilliamBZA commented on #187
Perhaps this is a silly question, but is it not worth just doing the change from `Func<>` instead of all the workarounds?

Specifically for the CastleWindsor issue, the change would take 5 minutes (excluding releasing + smoketesting). It wasn't done because that was before the maintainer budgets were introduced.

Is it not a similar case here? Are we not spending more time finding workarounds than

[2016-05-19 14:48] danielmarbach commented on #187
@williambza The proper fix would be to fix the installers which is a larger
issue.

[2016-05-19 15:00] andreasohlund commented on #187
My fix won't need func ctors

[2016-05-26 06:06] sveinfid commented on #114
Any progress on this issue?

I ended up rewriting to use an interface instead, but would be nice to be able to use an abstract base class too, as was possible pre-.NET Framework 4.6

[2016-05-26 13:23] DavidBoike commented on #114
@Particular/nhibernate-persistence-maintainers I've verified this bug on Core 5.2.14, NSB.NH 6.2.7.

[2016-05-27 13:34] janpieterz opened #193 "Nuget package of beta0003 fails to resolve."
So this is odd, maybe a weird config setting locally, but while installing version 7.0.0-beta0003 of this package:

`Package 'NServiceBus.6.0.0-unstable0257' is not found on source 'https://api.nuget.org/v3/index.json'.	`
The pacakge references `NServiceBus (>= 6.0.0-beta0003 && < 7.0.0)` which is already odd since beta0003 isn't on nuget yet,

beta0002 doesn't exist for NHibernate, so I'm going w

[2016-05-27 14:23] timbussmann commented on #193
Hi @janpieterz

Beta3 of NServiceBus is not pushed to NuGet yet (but will soon be), seems like the NHibernate beta package was pushed a little bit too early and with the wrong beta number. As you noted correctly, it should have been beta2 of NHibernate.

Going with beta1 should work fine until beta3 of NServiceBus is out. If you don't want to wait, the beta3 package is available on the particular

[2016-05-27 14:26] janpieterz commented on #193
Superb, thanks!

[2016-05-27 14:26] #193 closed

[2016-06-03 10:15] SzymonPobiega commented on #114
Hi @sveinfid

Thanks for the repro. I've tried it and it fails for me both for 4.5.2 and 4.6.0 frameworks consistently. I was able to reproduce it also in our unit tests. The problem seems to be `ContainSagaData`. When I changed your abstract class to implement `IContainSagaData` instead form inheriting from yet another abstract `ContainSagaData`, it worked. I am investigating further...

[2016-06-03 11:01] SzymonPobiega commented on #114
Here's a potential fix: https://github.com/Particular/NServiceBus.NHibernate/pull/196 targeting the coming 7.0.0 release.

[2016-06-03 16:19] janpieterz opened #197 "Installers won't bootstrap persistence and transport"
The installer, using the host `
NServiceBus
.Host.exe -install -serviceName ENMServer -displayName ENMServer -description "ENMServer" /install NServiceBus.Production` didn't create the required transport and persistence. My Octopus Deployment scripts of other projects call this and it always seems to have been created fine (running older NSB (5.14 and either RabbitMQ or Azure Service Bus)). This o

[2016-06-06 18:36] DavidBoike commented on #197
Hi @janpieterz, thanks for the report!

This is definitely a bug, caused by a change in how NServiceBus starts up in V6. We will get it fixed before Release Candidate, and the fix will likely be available in a forthcoming beta before that.

It's actually a bug in the NServiceBus Core, so I'm closing this issue and I opened https://github.com/Particular/NServiceBus/issues/3807 to replace it.

[2016-06-06 18:36] #197 closed

[2016-06-08 06:14] SzymonPobiega opened #198 "Do not use transport connection for persistence if persistence is configured with different connection string"
### Background

In V5 we used a dictionary keyed by connection string to get put/get the transport connection. Because of that, if SQL Server transport was configured to use different connection string than NH persistence, there was no sharing of connection.

### Problem

In V6 we use the `TransportTransaction` abstraction so currently if there is a transport SQL connection, NH persistence will us

[2016-06-08 06:17] #187 closed

[2016-06-08 06:42] SzymonPobiega commented on #169
I am here with @DavidBoike . This is a huge braking change and I don't think the benefits justify the change. How would the endpoint name table be populated? If the storage size is indeed a problem, we could store hash of the endpoint name. Surely the ID is too long but I think there are ways to make it shorter without breaking the schema.

[2016-06-08 06:45] SzymonPobiega commented on #148
An alternative could be to have a fixed-size outbox for each endpoint. Then we would use `UPDATE` instead of `INSERT/DELETE` which I think is more SQL Server friendly.

[2016-06-08 06:47] SzymonPobiega commented on #146
@WojcikMike @ramonsmits if you feel like releasing it in 6 major makes sense, feel free to re-open this.

[2016-06-08 06:47] #146 closed

[2016-06-08 06:47] SzymonPobiega commented on #145
@Scooletz what is the severity of this bug? Are we missing timeouts because of it?

[2016-06-08 06:50] SzymonPobiega commented on #144
@ramonsmits is the partitioning something we can implement or should we create a guidance around it?

[2016-06-08 06:54] #114 closed

[2016-06-08 06:57] SzymonPobiega commented on #109
@mauroservienti can this be closed?

[2016-06-08 06:59] SzymonPobiega commented on #85
I agree with @ramonsmits that FLR covers this. Feel free to re-open if you disagree.

[2016-06-08 06:59] #85 closed

[2016-06-08 07:00] SzymonPobiega commented on #66
Which particular values? I think we made some progress with regards to how config is handled.

[2016-06-08 08:58] SzymonPobiega commented on #198
A potential solution to this problem is early closing of the connection.

Suppose we close the connection before invoking the pipeline.
 * NHibernate persistence will not see the connection and create its own. If it has the same connection string as SQL transport, there will be no DTC escalation as everything happens within same `TransactionScope`
 * SQL server dispatcher will notice it has `Trans

[2016-06-08 09:56] SzymonPobiega commented on #198
@Particular/nhibernate-persistence-maintainers @Particular/sqlserver-transport-maintainers please chime in.

[2016-06-08 13:23] ramonsmits opened #201 "Using SQL Azure for persistence fails for V6 with NRE"
If using SQL Azure this fails with the following NullReferenceException with NServiceBus V6. Not an issue with V5.

It looks like it is related to promoting to a distributed transaction. The transport used is MSMQ.
# Exception info

[code]

[2016-06-09 08:16] Scooletz commented on #145
My reasoning was following. If a single timeout is retrieved, its date will be used as another `startSlice`. If the dispatch does not happen before the next round (for any reason) the timeout will be obtained again. I do remember though that there were some discussions about how timeouts are handled, so this reasoning may be no longer valid.

[2016-06-09 09:54] SzymonPobiega commented on #198
@Particular/nhibernate-persistence-maintainers can we do it as maintainer budget without forming a proper task force?

[2016-06-14 14:06] mauroservienti commented on #109
@szymonpobiega

Just one las question:
is there an equivalent to .DisableSchemaUpdate(); through App.config?

Do we have an answer to the above?

[2016-06-14 14:13] DavidBoike commented on #109
@mauroservienti @SzymonPobiega There doesn't really need to be one, since this would do the trick in user code:

[code]

[2016-06-14 14:31] mauroservienti commented on #109
given @DavidBoike's suggestion I'd say that this can be closed.

[2016-06-14 14:32] #109 closed

[2016-06-17 10:52] SzymonPobiega commented on #198
I treat silence as a sign of acceptance.

[2016-06-17 11:19] SzymonPobiega commented on #53
@andreasohlund do you think it should go with the V7 release? I find it hard to come up with a decent default for the cache.

[2016-06-20 20:56] andreasohlund commented on #53
I don't think this is a must have for v7

Regarding the default time it seems like something small like 5-10s would give the wanted perf boost?

[2016-06-21 06:01] SzymonPobiega commented on #53
OK. Let's pause it then and come back after V6 release.

[2016-06-21 14:54] DavidBoike commented on #197
@janpieterz Just wanted to let you know that the bug is now fixed in our 6.0 release branch. When the NServiceBus Core Beta 5 goes out, it will include the fix.

[2016-06-21 20:34] janpieterz commented on #197
@DavidBoike Superb, thanks, also saw the other thread. Thanks for the swift response guys, the insight gained from the process like this is much appreciated!

[2016-06-22 06:25] #198 closed

[2016-06-22 19:42] ramonsmits commented on #53
I already stress tested this and there is not a huge gain between one second or 10. If we do use this we should log with INFO level visible during startup that we are caching the results.

[2016-06-24 08:47] dmarckmann commented on #109
I have exactly the same problem as  @lucasdluengo
I do not agree that it can be closed. The error on schema update shouldn't happen to begin with. Disabling schema updates is just a workaround.

If it is possible to create tables in a specific schema, which is a good thing, then it should also check for existence of these tables in within this schema.

[2016-07-01 16:40] ramonsmits commented on #109
@dmarckmann in our conversation you mentioned that you were affected by both a locking issue as well as the schema workaround.

The locking original locking issue was caused by an incorrect saga mapping. That seems to have been resolved.

The locking issue from @lucasdluengo and @dmarckmann is about the outbox cleanup. Its a different issue but it has a relation with its solution which is describe

[2016-07-05 19:19] indualagarsamy commented on #94
@SzymonPobiega @johnsimons - any updates on this?

[2016-07-05 21:16] johnsimons commented on #94
@indualagarsamy as explained in https://github.com/Particular/NServiceBus.NHibernate/issues/94#issuecomment-96853780, this change will fix the issue.

For us to do this magically we would need changes as explained in https://github.com/Particular/NServiceBus.NHibernate/issues/94#issuecomment-96854564 and that won't be backwards compatible, so I am inclined to close this as won't fix.

@Particular/

[2016-07-05 23:00] indualagarsamy opened #203 "Saga with a sub classed Saga data throws an exception"
Relates to: https://groups.google.com/forum/#!msg/particularsoftware/t-N4w_CbpCc/nsMtcw17BgAJ

**Versions Used:**

[code]

**Steps to Repro:**
- The steps are outlined below. Code is here in my repo. https://github.com/indualagarsamy/SagaWithSubClassedSagaData
- Create a saga data with a nested class as shown.

[code]
- When handling a message the following exception is thrown:

**object reference

[2016-07-07 22:22] indualagarsamy commented on #203
This is not an issue. The problem was with the way the Person class was initialized. Not ok to new up the Person object in the saga, instead this should already be initialized in the SagaData object.

[2016-07-07 22:22] #203 closed

[2016-08-03 09:57] SzymonPobiega opened #207 "Provide code-first API for setting outbox data retention period"
Similar RavenDB issue: https://github.com/Particular/NServiceBus.RavenDB/issues/262

[2016-08-11 07:07] WilliamBZA opened #209 "Incorrect container lifecyle specified when using RegisterManagedSessionInTheContainer"
## Who's affected

Any V6 (core v5) user using `RegisterManagedSessionInTheContainer` in combination with Castle Windsor.

## Symptoms

When using `RegisterManagedSessionInTheContainer`, a `Func` is registered which returns the current NHibernate `ISession` allowing handlers to access the current ISession via the container.

This func is currently registered as `InstancePerCall`, implying that a n

[2016-08-25 06:25] #209 closed

[2016-08-25 12:37] MarcinHoppe opened #213 "Create a "simple" sample"
Create a sample for NHibernate persistence that would be similar to the "simple" sample for RavenDB:

http://docs.particular.net/samples/ravendb/simple/

/cc @HEskandari

[2016-08-25 12:40] MarcinHoppe opened #214 "Create a version of SQL Server transport + NHibernate persistence running on Azure SQL"
Currently we have this sample here:

http://docs.particular.net/samples/sqltransport-nhpersistence/

That leverages a single SQL Server instance for both the transport and persistence. We could create another version of this sample that runs on Azure SQL Database and includes recommendations from this page:

http://docs.particular.net/nservicebus/nhibernate/sql-azure

/cc @Particular/nhibernate-pe

[2016-08-29 05:52] SzymonPobiega commented on #214
This might be interesting. The transport-persistence combo works on premise because of `TransactionScope`'s ability to merge multiple non-overlapping native transactions into one without the DTC escalation. I wonder if this is possible on SQL Azure or do we need to use the outbox.

[2016-08-29 15:08] ramonsmits opened #215 "Publish performance in V6 betas lower with DTC enabled"
Publish performance is severely degraded in NServiceBus V6 beta on the Azure test configuration.

Blue = V5, Yellow = V6

![image](https://cloud.githubusercontent.com/assets/152998/18056244/668f191c-6e0b-11e6-95ce-4d26ebd478fb.png)

Source: http://deploy.particular.net:8000/en-US/app/search/persisters_fixture?form.nsb_version=V6&form.nsb_version=V5&form.persistence_kind=NHibernate&earliest=0&lates

[2016-08-29 15:12] ramonsmits commented on #215
I removed this, publishing is done outside of a transaction scope in this scenario and not within an incoming messages context.

[2016-08-29 15:23] SzymonPobiega opened #216 "Can't mock managed session access methods"
`INHibernateSynchronizedStorageSession` is internal and it can't be mocked by the users.

[2016-08-30 06:49] #213 closed

[2016-09-02 20:21] DavidBoike commented on #201
@Particular/nhibernate-persistence-maintainers Is this still a concern for V6 RC?

[2016-09-05 03:33] SzymonPobiega commented on #201
Not sure. I guess it needs a repro on the current version.

[2016-09-07 07:03] ramonsmits commented on #215
After some research of @SzymonPobiega and @danielmarbach it was found that the batch of message is being send sequentially. Reason for this is that the NHibernate persistence is not async but wrapped in an async interface.

The code creates a task for each publish invocation and aggregates these in a `List<Task>` and then does `Task.WhenAll(..)` and this results in sequential execution.

- This is

[2016-09-07 09:03] ramonsmits commented on #201
Still occuring with core beta 7 and nhibernate beta 6.

[2016-09-07 10:15] ramonsmits commented on #215
After diagnosing the issue isn't related to NHibernate being non async but by the design of the `NHibernateStorageSession` in V6. In V5 this was lazy resulting in a more lightweight processing of messages if it wasn't used for outbox, saga or custom user session storage. In V6 it seems to always be initialized and it enlists in an existing transaction scope.

By using the following persistence con

[2016-09-07 11:01] danielmarbach commented on #215
Nice finding!

[2016-09-07 11:32] andreasohlund commented on #215
Given that no sagas is present and the outbox isn't enabled should the NH session be off by default?

[2016-09-07 11:39] SzymonPobiega commented on #215
it is accessible via the context so making it off would cause exceptions. But I can try to make it lazy.

[2016-09-07 12:10] SzymonPobiega commented on #215
Here's a PR for making the session lazy: https://github.com/Particular/NServiceBus.NHibernate/pull/221. @ramonsmits I think we can close this one and discuss the pros/cons of lazy session on the PR.

[2016-09-07 13:08] ramonsmits commented on #215
Closing this because the reason for the difference in performance is found.

[2016-09-07 13:08] #215 closed

[2016-09-26 04:39] SzymonPobiega opened #224 "Messages are lost when message type names or endpoint names contain Unicode chars"
Originally raised on GG https://groups.google.com/d/msgid/particularsoftware/3c156278-502a-4d22-a4b7-47533d75c64c%40googlegroups.com?utm_medium=email&utm_source=footer

### Symptoms

A message is not published that should have been.

### Who's affected

Users using Unicode characters in message types or endpoint names.

### Root cause

Subscriber table uses `VARCHAR` in text columns.

[2016-09-26 21:28] bording commented on #145
@Particular/nhibernate-persistence-maintainers FYI NHibernate is now the only v6 persistence that hasn't yet updated to to using `>` instead of `>=`.  We really should be consistent here. Any chance you can consider making this change before RTM?

[2016-09-27 12:28] MarcinHoppe opened #226 "ATT results are not visible on GitHub"
Only the build reports its status back to GitHub

[2016-09-28 15:29] MarcinHoppe commented on #226
Added missing VCS root in TeamCity resolved the problem. Closing.

[2016-09-28 15:29] #226 closed

[2016-10-03 07:52] SzymonPobiega commented on #173
I haven't seen any of these fail recently so closing this one.

[2016-10-03 07:52] #173 closed

[2016-10-03 07:57] #145 closed

[2016-10-03 07:58] SzymonPobiega commented on #66
@SeanFeldman do you remember which particular settings you had in mind?

[2016-10-03 22:57] SeanFeldman commented on #66
Being 2 years ago, you'd have to torture me and event then, I'm afraid I wouldn't break... just can't recall what was the issue. I vaguely suspect that it was not for NSB.NHibernate. You know, being a spy and such, need to cover my traces... :smile:
Will close this.

[2016-10-03 22:57] #66 closed

[2016-10-10 13:12] #178 closed

[2016-10-11 12:21] Tsjunne opened #231 "No way to influence mapping for OutboxRecord & TimeoutEntity"
At my current client the DBA's have certain convensions that need to be followed with regards to object names in the database.

It doesn't look like it is possible to change any mappings for the internal classes used.
I can identify the code doing the mapping in the codebase, but i see no way of overriding the behavior without branching the code.

[2016-10-12 07:27] SzymonPobiega commented on #231
Indeed there is no way to influence these mappings. This is intentional to make sure everything works as expected. @Tsjunne what aspects would you like to change?

[2016-10-12 14:27] Tsjunne commented on #231
Well, our DBA's follow certain naming convensions for tablenames.
But that's a debatable issue and not my place to decide.

What really bothers me is how the mapping for the OutboxRecord ID translates to Oracle.
Since the mapping is defined as native it revers to sequence generation. Since there is no way to specify the sequence name, it revers to 'hibernate_sequence' as default name. This is kind

[2016-10-14 13:57] MarcinHoppe opened #232 "Gracefully handle concurrency errors with scaled-out subscribers"
Scaled-out subscribers may cause concurrency errors (PK violation) during processing of subscription messages by the publisher.

These errors should be gracefully handled within the persister, as it is currently done RavenDB and ASP persisters:

https://github.com/Particular/NServiceBus.Persistence.AzureStorage/blob/develop/src/NServiceBus.Persistence.AzureStorage/Subscriptions/AzureSubscriptionSt

[2016-10-25 12:53] SzymonPobiega commented on #231
#234 is a proposed fix to this.

[2016-10-31 15:31] ramonsmits opened #239 "Saga mapping will auto map all types when the types to scan contains type System.Object"
Saga mapping will auto map all scanned types when the types to scan contains type `System.Object`. This because all types are  derivatives of `object`.

The result is that NHibernate chokes on various aspects then scanning types via reflection as it obviously cannot auto map all types.

## Who's affected

Customers that have a handler or saga that is triggered on all messages via ` IHandleMessages

[2016-10-31 15:57] ramonsmits commented on #239
@Particular/nhibernate-persistence-maintainers I think we only need to fix 7.x ?

[2016-11-01 09:18] #239 closed

[2016-11-15 10:41] timbussmann opened #241 "OutboxCleaner.PerformCleanup tears down the endpoint"
It seems that a connection failure during `OutboxCleaner.PerformCleanup` will tear down the endpoint, as exceptions aren't catched and will bubble up to the executing thread. See the issue here: https://github.com/Particular/NServiceBus/issues/4293

Given the fact, that we use circuit breakers to handle persistence failures in other places (e.g. the timeout manager) before directly shutting down t

[2016-11-17 14:26] MarcinHoppe commented on #241
@timbussmann @ramonsmits @andreasohlund I agree this is a good change for 7.1 (added this issue to the milestone). Is there anything that makes this issue urgent?

[2016-11-18 08:35] timbussmann commented on #241
I'll leave that classification to you. As far as I understand it, it can cause the endpoint to shut down earlier than any configured circuit breaker (e.g. is the SQL server is up again after 1.5 minutes, the timeout managers circuit breaker is not violated and the endpoint would recover, while the outbox cleanup task will tear down then endpoint). So theoretically this could be seen as a critical,

[2016-11-18 08:43] andreasohlund commented on #241
I'd lean towards a patch for the reasons mentioned by Tim

[2016-11-18 08:44] MarcinHoppe commented on #241
Thanks.

@HEskandari @SzymonPobiega What do you think about it?

[2016-11-18 09:38] HEskandari commented on #241
I'm 👍 on the patch. If it crashes the endpoint, should be considered as critical IMO.

[2016-11-18 09:39] MarcinHoppe commented on #241
We will still crash the endpoint, only later and not that often. I'm also 👍 on a patch.

[2016-11-18 09:41] MarcinHoppe commented on #241
I created a mileston for the patch and assigned this issue to this new milestone.

[2016-11-20 13:24] brunobertechini commented on #214
+1

[2016-11-20 13:33] brunobertechini commented on #201
I am not sure if my issue is the same problem here. Please point me out if I need to open a new Issue.

* Transport: SQL Server (using SQL Azure)
* Persistence: NHibernate (using NHibernate4.SqlAzure driver) [https://docs.particular.net/nservicebus/nhibernate/sql-azure](url)
* Web site running on Azure AppService

Scenario:

1. Web sends a command
2. Endpoint Handler process command and publish an

[2016-11-20 14:11] brunobertechini opened #244 "EnlistTransaction fails starting saga when using SqlAzure"
I am not sure if this is the same problem from this issue #201 .

* Transport: SQL Server (using SQL Azure)
* Persistence: NHibernate (using NHibernate4.SqlAzure driver) [https://docs.particular.net/nservicebus/nhibernate/sql-azure](url)
* Web site running on Azure AppService

Scenario:

1. Web sends a command MyCommand
2. Endpoint Handler process command and publish an event MyEvent
3. A Saga sho

[2016-11-20 16:24] brunobertechini commented on #244
When enabling Outbox against SqlAzure NServiceBus shows:

[code]

I'd expect no DTC enabled on SqlAzure, but:
The exception goes away when enabling outbox even though the warning above is still showing

[2016-11-21 07:59] MarcinHoppe commented on #244
@brunobertechini Thanks for reporting this.

Where are you hosting your saga? Is it within the same App Service or elsewhere?

Also, are you using a single Azure SQL Database for both the transport and persistence?

[2016-11-21 08:03] SzymonPobiega commented on #201
@brunobertechini The exception you see is probably due to the fact SQL Azure does not support TransctionScope. Can you try setting you endpoint transaction mode to `sends-atomic-with-receive` (https://docs.particular.net/nservicebus/transports/transactions#transactions-transport-transaction-sends-atomic-with-receive) or enabling the outbox?

Please note that in `sends-atomic-with-receive` you will

[2016-11-21 08:03] MarcinHoppe commented on #201
@SzymonPobiega See #244. Let's move the discussion there.

[2016-11-21 08:19] #231 closed

[2016-11-21 11:20] brunobertechini commented on #244
@MarcinHoppe  I am using the same SqlAzure for Transport and Persistence.

I am hosting the endpoint using Azure WebJobs (self hosted)

And I am also using NHibernate.SqlAzure driver

[2016-11-21 14:16] MarcinHoppe commented on #244
@brunobertechini Can you post the configuration of all your endpoints with the sensitive parts redacted? Are all the connection strings exactly the same?

[2016-11-24 13:26] MarcinHoppe commented on #241
@Particular/nhibernate-persistence-maintainers I updated the PoA for this issue.

[2016-11-27 23:59] brunobertechini commented on #244
yes I am

[2016-11-30 20:48] MarcinHoppe commented on #244
@brunobertechini How does your custom unit of work behavior look like? Does it interact with the database in any way?

[2016-12-01 09:17] #241 closed

[2016-12-02 12:32] brunobertechini commented on #244
Yes. It starts the custom UoW and calls next(); and commit UnitOfWork (EF6) after next

[code]

[2016-12-02 12:35] brunobertechini commented on #244
Should I have one database catalog specific for queues (separated from business data) ?

By reading [SqlTransport Deployment Options](https://docs.particular.net/nservicebus/sqlserver/deployment-options#modes-overview-multi-schema) it seems multi-instance/catalog is deprecated:

[code]

[2016-12-02 12:45] brunobertechini commented on #244
My goal is to import third-party data for order processing. New Orders from a third party provider.

I have a restriction on how many calls I can make and also im worried about performance issues:

For example if I have 2000 orders to import i need to do 20 calls (100 order each - api restriction) and publish an event for each one.

The problem is, for each order I need to call another api method

[2016-12-02 12:47] MarcinHoppe commented on #244
@brunobertechini Is your EF data in the same database? If it is, please make sure that you follow the trick described here to avoid DTC escalation when using EF:

https://docs.particular.net/nservicebus/sqlserver/entity-framework

If your EF data is in another database, then you might have to create a new `TransactionScope` with `TransactionScopeOption.Suppress` or use `Enlist=false` parameter in

[2016-12-02 12:49] brunobertechini commented on #244
They are all in the same database for now. Considering split.

If I does not escalate to DTC will I have all messages and business data being processed inside a handler to act as one single transaction from unit of work ? I.e.: will all rollback together if either business data and/or messages fail to be processed?

[2016-12-02 12:52] brunobertechini commented on #244
Im using EF6 code first and the context is being injected by Aspnetboilerplate library.

I dont see enough info in that link to "share" ef connection.  As per my understanding this states that NHibernate and EF6 must share the sabe DBConnection to participate in the transaction right ?

Bruno

[2016-12-02 13:33] MarcinHoppe commented on #244
@brunobertechini That's a lot of questions and I think they go beyond the original issue 😄.

Would you mind posting these questions to support@particular.net? I think it will be easier for us to resolve your issue through that channel. Thanks!

[2016-12-02 15:08] MarcinHoppe commented on #244
@brunobertechini You can CC me (marcin.hoppe at particular.net) and I will get at it directly. Thanks!

[2016-12-02 16:08] brunobertechini commented on #244
👍

Can you just shed some light at this one

As per my understanding the link above (for EF Caveats) states that NHibernate and EF6 must share the sabe DBConnection to participate in the transaction to avoid the exception mentioned in the first comment?

[2016-12-05 00:07] HEskandari commented on #241
Did we update the documentation as per the PoA above? The last update date of those pages are two and three months ago respectively, which makes me think they are not updated?

[2016-12-05 07:39] SzymonPobiega commented on #241
https://docs.particular.net/nservicebus/recoverability/critical-exception-for-timeout-outages this should be moved under the timeout manager and I don't think we need to touch it.

I'll add proper info to https://docs.particular.net/nservicebus/nhibernate/outbox.

[2016-12-05 07:41] SzymonPobiega commented on #241
Well, it feels kind of awkward to document this by saying users are required to modify `NServiceBus/Outbox/NHibernate/TimeToWaitBeforeTriggeringCriticalErrorWhenCleanupTaskFails` application setting. Should we add a public extension method for setting this?

[2016-12-05 08:52] MarcinHoppe commented on #241
@SzymonPobiega This is consistent with how other parameters for the Outbox cleaner are configured. I think we could add configuration in code as a separate issue to include in 7.1 release. It looks small enough to be handled by maintainers.

[2016-12-05 09:34] SzymonPobiega commented on #241
@MarcinHoppe then i'd say defer the documentation until then and :shipit: 7.0.2 now?

[2016-12-06 12:40] MarcinHoppe commented on #244
I think the architecture here could be simplified to achieve the same goal of having transactional consistency between the transport, EF context and sagas.

- If you want to rely on transaction opened by the transport, you don't need to roll your own unit of work. EF should work fine with the ambient transaction opened by the transport (how to keep it lightweight so that it does not escalate to th

[2016-12-09 02:26] SimonCropp commented on #232
should this be bumped to the next patch so the other two features in 7.1 can be shipped?

[2016-12-09 07:42] MarcinHoppe commented on #232
Thanks @SimonCropp, that's not a priority now (test have been moved to a better place).

[2016-12-09 08:10] MarcinHoppe opened #248 "Configure Outbox record deduplication in code"
Currently cleanup of Outbox records is done through App.config settings as described on this documentation page:

https://docs.particular.net/nservicebus/nhibernate/outbox#deduplication-record-lifespan

In addition to this, we need a code-first configuration API for these settings:

[code]

[2016-12-09 08:11] SzymonPobiega commented on #248
❤️

[2016-12-13 11:35] MarcinHoppe commented on #244
I smoke tested the [Sql Transport, NHibernate and EF sample](https://docs.particular.net/samples/outbox/sqltransport-nhpersistence-ef/) **without Outbox** against a single Azure SQL Database for transport, persistence and business data. It worked fine and I observed no DTC escalation.

@brunobertechini Did my last response help in any way? Have you created the support case where I could chime in?

[2016-12-13 13:40] MarcinHoppe commented on #241
The code-first configuration API for the circuit breaker will be released as part of the 7.1 milestone. We will defer documentation until release.

[2017-01-06 16:02] brunobertechini commented on #244
@MarcinHoppe sorry didnt have time to go deeper on this matter. I will create a reproduction of this code. I am pretty sure this is related to AspNetBoilerplate framework and how it handles EF transactions.

Bruno

[2017-01-20 08:28] SzymonPobiega commented on #164
This has not been ported forward to 7. Re-opening

[2017-01-23 11:14] #164 closed

[2017-01-24 11:13] SzymonPobiega opened #252 "Incorrect schema creation for timeout entity causes performance degradation"
### Who's affected

Users of NHibernate persistence who pass their own NHibernate `Configuration` object i.e.

[code]

### Symptoms

The problem manifests itself in wrong schema generated by the installers. Depending on the container used, there might be two variations of symptoms:

1. The schema for the *all* the tables is incorrect. All the primary keys are non-clustered (only `TimeoutEntity` ta

[2017-01-24 12:13] SzymonPobiega commented on #252
Fix pending https://github.com/Particular/NServiceBus.NHibernate/pull/253

[2017-01-27 13:34] SzymonPobiega opened #254 "NullReferenceException when using strongly-typed configuration API of NHibernate"
Source: [GoogleGroups](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/particularsoftware/866MabS3fR4/H6YtCPj_AAAJ)

Packages: NSB 6.1.2, NSB.NHibernate 7.1.1, NHibernate 4.0.4.4000, NSB.SqlServer 3.0.1.

The code below throws System.NullReferenceException, Object reference not set to an instance of an object :
[code]

The old school stringly typed configuration works fine

[2017-01-27 13:39] SzymonPobiega commented on #252
Another related thing is that when the user provide the `Configuration` object then selective disable of schema update won't work because any installer would create the whole schema. A solution to both issues could be cloning the `Configuration` object via binary serialization...

[2017-01-27 13:55] DocJames commented on #254
For some reason I'm unable to add the files as .zip. So here are the source code and packages.

Thanks,
Jimmy

using System;
using NHibernate.Cfg;
using NHibernate.Connection;
using NHibernate.Dialect;
using NHibernate.Driver;
using NServiceBus;
using NServiceBus.Features;
using NServiceBus.Transport.SQLServer;
using NServiceBus.Persistence;
using NServiceBus.Persistence.NHibernate;

namespace Esb

[2017-01-27 13:56] DocJames commented on #254
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net462" />
  <package id="log4net" version="2.0.7" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net462" />
  <package id="NServiceBus" version="6.1.2" targ

[2017-01-30 01:33] SimonCropp commented on #224
@Particular/nhibernate-persistence-maintainers my understanding of this is equates to data loss. ie someone subscribes to an endpoint or a message type that contains a unicode character. when it is queried it will not match hence no publish will occur. or do i misunderstand the issue?

[2017-01-30 02:31] SimonCropp commented on #254
@DocJames could you also copy the stack trace and post it here

[2017-01-30 07:08] DocJames commented on #254
Yep.

Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at NServiceBus.Persistence.NHibernate.NHibernateConfigurationBuilder.Build() in C:\BuildAgent\work\5135de308b2f3016\src\NServiceBus.NHibernate\Internal\NHibernateConfigurationBuilder.cs:line 49
   at NServiceBus.Features.NHibernateStorageSession.Setup(FeatureConfigurationContext conte

[2017-01-30 10:09] MarcinHoppe commented on #254
@DocJames This line here seems to be causing some trouble:

The `database.ConnectionStringName` should be used to indicate which connection string from the `connectionStrings` section of the `App.config` file should be used. I'm guessing that the `Settings.PersistenceConnectionString` variable contains the full connection string:

Can you change it to:

And see if it helps?

[2017-01-30 12:36] DocJames commented on #254
@MarcinHoppe Christ, yes, that is the problem. The Settings.PersistenceConnectionString is the whole connection string. I thought I was going crazy ...

Thanks for you good eyes and help! :)

[2017-01-30 13:24] MarcinHoppe commented on #254
@DocJames Good to be a rubber 🦆 :). I'm closing this issue.

[2017-01-30 13:24] #254 closed

[2017-02-01 11:00] MarcinHoppe opened #255 "Database connection is not closed when synchronized storage session flush throws"
## Symptoms

When [business data access with NHibernate persistence](https://docs.particular.net/nservicebus/nhibernate/accessing-data) fails, the database connection opened for the failed NHibernate session will not be closed.

Consistent rate of data access errors leads to ADO .NET connection pool exhaustion and endpoint shutdown.

## Who is affected?

Users of NHibernate persistence that use `S

[2017-02-03 11:26] MarcinHoppe commented on #255
7.0.4 and 7.1.2 have been released. Closing.

[2017-02-03 11:26] #255 closed

[2017-02-08 11:32] SzymonPobiega commented on #224
@SimonCropp Interesting problem. I'll validate the behavior because I am not sure at which stage the information gets lost.

[2017-02-10 14:59] cremor opened #260 "v7 for NSB core v6 doesn't use CombGuids for TimeoutEntity any more"
I noticed that with the big change for NSB core v6 the method `TimeoutPersister.Add()` was changed from using the method `GenerateCombGuid()` to just use `Guid.NewGuid()`. Was this done on purpose?

I think this is wrong since now the primary key isn't an increasing value any more which could cause performance problems in MS SQL server.

Note: If you reintroduce the CombGuid, don't just add the me

[2017-02-11 18:14] dasjestyr opened #261 "Not creating tables in correctly on first run"
I just ran my app in a new environment and it didn't seem to create the new tables correctly. Using the same settings as I used in the other environment, it seems to have created the tables for sagas, outbox, and subscription as the domain user name:

![image](https://cloud.githubusercontent.com/assets/3200529/22856254/3bcedf6a-f04b-11e6-99db-27be8cd90226.png)

My connection string is using truste

[2017-02-11 18:16] dasjestyr commented on #261
not sure if related to https://github.com/Particular/NServiceBus.NHibernate/issues/252

[2017-02-13 06:34] MarcinHoppe commented on #261
@dasjestyr The SQL Server transport will default to `dbo` as the default schema but the NHibernate persister will default to whatever default schema is configured for the user.

Can you check the default schema for the user that created the tables by issuing this query in SQL Server Management Studio:

`SELECT SCHEMA_NAME()`

Please make sure that you connect to the database as the same user that

[2017-02-13 17:42] dasjestyr commented on #261
So funny story... I can't log into the database under that user because of some funky auth federation setup. The app box can, but I can't.  I can verify however that no default schema was selected when that service account was created. In the meanwhile, I've assigned dbo as the default schema for the group that has access to that database and corrected the table ownership that was generated by NHi

[2017-02-13 17:42] #261 closed

[2017-02-14 15:19] MarcinHoppe commented on #260
Thanks for reporting this. We are working on the fix.

[2017-02-17 07:54] #260 closed

[2017-02-17 12:41] MarcinHoppe opened #265 "Index fragmentation and low performance of operations on the `TimeoutEntity` table"
## Symptoms

NHibernate persistence uses `Guid.NewGuid()` method to generate identifiers when [storing timeout messages](https://docs.particular.net/nservicebus/messaging/timeout-manager#storing-timeout-messages). This results in index fragmentation and low performance of operations on the `TimeoutEntity` table.

## Who is affected?

Users of NHibernate persistence that use [delayed delivery](http

[2017-02-22 13:24] SzymonPobiega commented on #244
@brunobertechini did you manage to reproduce this?

[2017-02-24 11:43] MarcinHoppe commented on #260
@cremor Just to let you know, we released the following patches that address this problem:

- https://github.com/Particular/NServiceBus.NHibernate/releases/tag/7.1.3
- https://github.com/Particular/NServiceBus.NHibernate/releases/tag/7.0.5

[2017-03-02 10:22] MarcinHoppe opened #268 "Document that Oracle and SQL Server are two explicitly supported DBMS engines"
Mention that only the managed driver for Oracle is supported.

[2017-03-16 22:47] Tsjunne opened #269 "WrapHandlersInATransactionScope + Outbox"
I have a setup using RabbitMQ + NHibernate persistence on Oracle.
I have a service that needs a distributed transaction to integrate with another legacy database.

I tried setting the transport transaction to TransactionScope, but this is not allowed by the RabbitMQ transport.
I tried to enable the 'WrapHandlersInATransactionScope' feature. I see the SQL statements to insert the business data in t

[2017-03-17 08:01] MarcinHoppe commented on #269
@Tsjunne Can you provide you endpoint configuration and your handler code storing data via the NH session that reproduce the problem?

[2017-03-17 10:05] Tsjunne commented on #269
[NSBRepo.zip](https://github.com/Particular/NServiceBus.NHibernate/files/850194/NSBRepo.zip)

Some comments on the repro:
This is the actual scenario i'm working in, so it's inside a saga timeout. It is basicly the scheduler example that used to be on the docs.
When starting the repro on an empty database, the saga won't get persisted either, so you might want to disable outbox and the tx wrapping

[2017-04-04 13:29] MarcinHoppe commented on #252
7.1.4, 7.0.6, and 6.2.8 patches are now released. Closing.

[2017-04-04 13:29] #252 closed

[2017-04-05 16:30] SzymonPobiega commented on #269
@Tsjunne thank you for the repro. I managed to pinpoint the problem(s). When using `WrapHandlersInATransactionScope` the sequence of events is as follows:
 * Outbox opens a new connection and a native ADO transaction
 * Wrapper creates a `TransactionScope`
 * Saga persister stores a saga. This is when `AdoNetWithDistributedTransactionFactory` is pinged and it detects the presence of transaction sc

[2017-04-05 21:05] Tsjunne commented on #269
Thank for looking at the repro @SzymonPobiega
Our concrete setup is like this:
* we are building a new system to gradually replace the legacy.
* The legacy has a series of identical DB's where serveral tenants are spread among different DB's
* The service doing the integration needs both the outbox and a connection to a DB based on a tenant ID

I managed to redesign our setup with some minor chang

[2017-04-07 09:45] MarcinHoppe commented on #244
I am closing this issue for now because we don't have any new information that would allow us to get any closer to reproducing this.

@brunobertechini Don't hesitate to re-open this issue if you have more information.

[2017-04-07 09:45] #244 closed

[2017-04-07 11:13] SzymonPobiega commented on #269
@Tsjunne I'll create a separate issue to track outbox + transaction scope scenarios as possible new features. We're currently working on a fix that would prevent data loss in a scenario that you are describing.

[2017-04-07 11:20] SzymonPobiega opened #274 "Use TransactionScope for outbox transaction"
Allow Outbox to run in `TransactionScope` mode rather than using native transaction. This would be a a very specific feature for legacy integration scenarios where:
 * There is a legacy database which schema can't be changed (e.g. by adding Outbox table
 * There is no other way to achieve idempotency

In this scenario the Outbox table would be in a new database. The Outbox transaction could be esc

[2017-04-10 08:15] MarcinHoppe commented on #274
I'm thinking that this should be moved to PlatDev because it spans more than one repo (potential interactions with the transport) and a fair amount of doco and guidance on when to use it, etc.

[2017-04-10 12:06] SzymonPobiega commented on #274
@MarcinHoppe I don't think this spans multiple repos. It should be transport-agnostic and only based on existance of TransactionScope.

[2017-04-11 08:50] tmasternak opened #277 "WrapHandlersInATransactionScope causes synchronized session transaction to lose data"
Original customer issue #269

### Who's affected
User's who use Outbox and enable `WrapHandlersInATransactionScope`.

### Symptoms
Data changes done via synchronized storage session are lost and the incoming message is consumed. Resulting outgoing messages are dispatched normally resulting in ghost messages.

### Root cause

When both `Outbox` and `WrapHandlersInATransactionScope` are enabled:
 *

[2017-04-12 08:17] #277 closed

[2017-04-13 14:51] cremor opened #278 "TimeoutEntity clustered index not created as documented"
According to the [documentation](https://docs.particular.net/nservicebus/upgrades/nhibernate-timeouts-index) and the [version 7.1.4 pull request](https://github.com/Particular/NServiceBus.NHibernate/pull/270) the TimeoutEntity table should have a nonclustered primary key.

But if I start the [Simple NHibernate Persistence Usage](https://docs.particular.net/samples/nhibernate/simple/) sample the cr

[2017-04-14 09:47] MarcinHoppe commented on #278
@cremor Thanks for reporting this. I managed to reproduce the problem.

[2017-04-18 11:17] #269 closed

[2017-04-21 12:30] tmasternak opened #280 "Unique constraints are not generated for saga correlation properties"
## Problem

When using common base class for saga data (e.g. `ContainSagaData`) auto-generated saga tables will have unique constraint set for correlation property only if:
  * Saga data type has been scanned first
  * Saga data type correlation property has the same name as the correlation property of the saga data type mapped first

## Who's affected

All users who have at least two sagas sharin

[2017-04-24 12:41] jochenz commented on #280
Thanks for your swift detection of the root cause. Looking forward to the patch.

[2017-05-03 10:33] dvdstelt opened #286 "NHibernateStorageSession assumes saga connectionstring"
Together @HEskandari , I investigated an issue related to [this StackOverflow issue](http://stackoverflow.com/questions/43680632/why-do-i-need-any-saga-storage) and came to the following conclusion:

### Issue description
When you try to disable sagas and subscriptions, are left with just timeouts and provide a connectionstring for just timeouts, the persister complains about saga connectionstring

[2017-05-04 13:14] cremor opened #287 "TimeoutData.OwningTimeoutManager value is not restored"
When I read through your code I noticed that the property `TimeoutData.OwningTimeoutManager` is saved in the database (via the `TimeoutEntity.Endpoint` property in the [Add method](https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/TimeoutPersisters/TimeoutPersister.cs#L87)) but when the `TimeoutData` is restored (in the [MapToTimeoutData method](https://g

[2017-05-04 14:28] cremor opened #288 "Not awaited tasks in CachedSubscriptionPersister"
While reading through your code I noticed that you don't await the base calls of `Subscribe` and `Unsubscribe` in `CachedSubscriptionPersister`. This doesn't affect runtime behavior because the base methods are synchronous, but the calls should still be awaited, right?

[2017-05-04 14:54] danielmarbach commented on #288
Yes they should. When the retry happens a [Task.Delay](https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/Subscriptions/SubscriptionPersister.cs#L98) will be used and then the retry of the function call will be scheduled on a continuation. In that case the function will not be executed synchronously. Good catch.

@Particular/nhibernate-persistence-maintain

[2017-05-04 14:59] DavidBoike commented on #288
Particular.CodeRules 0.2.0 was just released to NuGet, which includes the new analyzer to detect dropped tasks. Suggest we update that in NH.

[2017-05-04 16:03] cremor commented on #288
This is an yet unreleased change, right? Because both the master branch and the 7.2.0 tag don't have the retry yet. They are really synchronous there.

[2017-05-05 10:01] SzymonPobiega commented on #288
@cremor yes, the `develop` branch contains the change which is not yet released. It adds a retry logic to `Subscribe` and `Unsubscribe` calls to account for possible concurrency errors when an endpoint is scaled out and multiple instances want to access the subscription store at the same time.

[2017-05-05 10:19] SzymonPobiega commented on #288
Addressed in https://github.com/Particular/NServiceBus.NHibernate/pull/289. Thanks a lot @cremor !

[2017-05-05 10:19] #288 closed

[2017-05-06 10:43] cremor commented on #224
NServiceBus.Persistence.Sql uses NVARCHAR(200), so I assume that should work for NServiceBus.NHibernate too?

[2017-05-09 11:00] #280 closed

[2017-05-09 11:01] #278 closed

[2017-05-10 11:40] MarcinHoppe commented on #278
@cremor This issue was fixed in 7.2.1 and 7.1.6 patches.

[2017-05-11 13:26] MarcinHoppe commented on #287
The `OwningTimeoutManager` property allows different endpoints to store their timeouts in a single table. All persisters that share table or collection between endpoints store their own endpoint name in this property and use it as a query parameter when polling for timeouts to dispatch. The core does not need this value later on because it is always implicitly equal the current endpoint name.

Not

[2017-05-11 13:45] cremor commented on #287
Yes, that makes sense. Thanks.

[2017-05-11 13:45] #287 closed

[2017-05-27 11:12] sushilpatil84 opened #292 "Exception occur when Registering a new User in Asp.Net Core Web Site 1.1 (.Net Core), Visual Studio 2017 Community Edition"
Exception occur when Registering a new User in Asp.Net Core Web Site 1.1 (.Net Core), Visual Studio 2017 Community Edition, Authentication Mode - Individual User Account i.e. Asp.Net Core Identity

An unhandled exception occurred while processing the request.

OverflowException: Arithmetic operation resulted in an overflow.
System.Data.ProviderBase.DbConnectionPool.TryGetConnection(DbConnection ow

[2017-05-29 00:28] HEskandari commented on #292
Hi @sushilpatil84

How is this related to NServiceBus.NHibernate?

[2017-05-29 08:40] tmasternak commented on #286
I don't think we should tackle it right now. We have a workaround and a single client that had issues with it.

[2017-06-21 21:31] ramonsmits commented on #274
It is not required for using MSDTC is all. TransactionScope != MSDTC, which is assumed by most. It is perfectly fine to use the lightweight transaction manager by using TransactionScope without any promotion to a distributed transaction. This results in much cleaner DB code that doesn't require passing any connection/transaction objects around.

[2017-07-05 08:43] SzymonPobiega commented on #201
@MarcinHoppe since we closed #244 should we also close this one?

[2017-07-05 08:45] SzymonPobiega commented on #183
@timbussmann how to repro this? Is it enough to generate an empty assembly dynamically?

[2017-07-05 08:46] MarcinHoppe commented on #201
I think so. We have not seen any evidence that this is still a problem.

[2017-07-05 08:49] SzymonPobiega commented on #139
Looking at the code, at least in V6 we don't ever dispose `ISessionFactory`. I suspect that it was the same in V5 and that this is the root cause of the leak. @Particular/nhibernate-persistence-maintainers should we prioritize this?

[2017-07-05 08:50] #201 closed

[2017-07-05 08:52] SzymonPobiega commented on #292
@sushilpatil84 Closing this issue. Feel free to re-open when you get more information about how this is related to NServiceBus

[2017-07-05 08:52] #292 closed

[2017-07-05 08:54] SzymonPobiega commented on #177
We already have SQL persistence which uses json saga format. Closing this one.

[2017-07-05 08:54] #177 closed

[2017-07-05 08:55] SzymonPobiega commented on #232
Fixed via cd786978f2e967acd143accb2b85a6316d6e5a67

[2017-07-05 08:55] #232 closed

[2017-07-05 08:56] SzymonPobiega commented on #207
Duplicate of #248

[2017-07-05 08:56] #207 closed

[2017-07-05 09:00] SzymonPobiega commented on #162
I'll migrate to `StandardBuildV3` so that the acceptance tests are executed in the build step.

[2017-07-05 09:05] timbussmann commented on #183
@SzymonPobiega I think it would need to have at least a type in the assembly. I think creating the dynamic assembly with a type should be enough to repro on v5. An alternative approach might be to start an endpoint using interface messages (creates dynamic assemblies as well) twice in the same appdomain.

I think this might not be an issue in v6 as it doesn't scan appdomain assemblies by default,

[2017-07-05 09:30] SzymonPobiega commented on #183
@timbussmann fine with me closing it unless we get evidence it gets broken in V7 or subsequent release? If this is an issue in V5 and (correct me if I am wrong) throws at startup then we don't need to patch it.

[2017-07-05 12:01] timbussmann commented on #183
@SzymonPobiega your call on closing/fixing this. But I think it might be worth to at least investigate latest major in combination with core v6's "ScanAppDomainAssemblies" option. If that doesn't work I can pretty much guarantee problems with v7.

[2017-07-05 12:11] SzymonPobiega commented on #162
Works.

[2017-07-05 12:11] #162 closed

[2017-07-05 12:12] SzymonPobiega commented on #119
It is unlikely that we'll have a major release and the new sql persistence already uses the per-endpoint approach.

[2017-07-05 12:12] #119 closed

[2017-07-05 12:13] SzymonPobiega commented on #101
We added immediate retries to cover for concurrency errors when updating the subscription store.

[2017-07-05 12:13] #101 closed

[2017-07-05 12:14] SzymonPobiega commented on #102
It is unlikely we'll do any major design changes in the NH persistence given we have SQL persistence.

[2017-07-05 12:14] #102 closed

[2017-07-05 12:16] SzymonPobiega commented on #87
@danielmarbach I think that the custom mapping sample covers all the angles https://docs.particular.net/samples/nhibernate/custom-mappings/. Feel free to re-open if you disagree.

[2017-07-05 12:16] #87 closed

[2017-07-05 12:17] SzymonPobiega commented on #95
I believe the custom mapping documentation covers all the angles now: https://docs.particular.net/samples/nhibernate/custom-mappings/. Feel free to re-open if you disagree.

[2017-07-05 12:17] #95 closed

[2017-07-05 12:19] SzymonPobiega commented on #53
The SQL persistence took the approach to require the cache duration to be provided (a mandatory setting). Given we don't plan to release a major version of NH in near future and that SQL persistence is preferred for new systems I am closing this one. @andreasohlund feel free to re-open if you disagree.

[2017-07-05 12:19] #53 closed

[2017-07-05 12:21] SzymonPobiega commented on #94
We don't plan to release a major in near future so I am closing this one. Let's re open if the problem pops up again.

[2017-07-05 12:21] #94 closed

[2017-07-07 08:41] MarcinHoppe commented on #268
Resolved by Particular/docs.particular.net#2845.

[2017-07-07 08:41] #268 closed

[2017-07-10 08:30] ramonsmits opened #296 "Usage of `ISet` can result in incorrect and undetected NHibernate behavior"
Usage of `ISet` can result in incorrect and undetected NHibernate behavior as the collection might result in the items to be duplicated as each saga save. This is because the set assumes the `GetHashCode` and `Equals` to be overridden on the child items and because this is not the case NHibernate sees every save that there are new instances in the collection.

If customers would not test this mapp

[2017-07-13 08:08] Feanathiel opened #297 "Deadlocks while persisting saga data collections"
**Problem**
When using saga data that contains collections I'm getting quite a few deadlocks (SQL Server). The primary saga data (inheriting IContainSagaData) is persisted properly, but collections (which are stored in a seperate table) are not. It seems that these collections cause table locks thus causing deadlocks while processing a lot of saga messages (even if saga's aren't handling concurren

[2017-07-14 20:21] DavidBoike commented on #139
I forgot I had opened this.

It only matters if you're continuously creating and destroying endpoints, which you really shouldn't do, right?

To me that gives it pretty low priority, the kind of change you'd roll into a minor you were going to release anyway if you had a free moment.

[2017-07-18 05:58] SzymonPobiega commented on #297
@Feanathiel thanks for reporting this. We're investigating ways to tap into NHibernate's script generation to include the index on the FK.

[2017-07-19 08:14] #297 closed

[2017-07-19 08:16] SzymonPobiega commented on #297
@Feanathiel the fix has been merged to `develop`. It will be released with the next minor. In the meantime please add the relevant index manually. Also, keep in mind that the way NHibernate schema generation works is it does not update the existing schema elements (such as tables). It only creates them if they don't exist.

[2017-07-19 09:58] Feanathiel commented on #297
@SzymonPobiega Thank you for taking your time implementing this change and the remark. I will add the indices manually right now, since the tables already exist. I will look forward for the new release in the meantime. Have a great day!

[2017-07-26 12:06] MarcinHoppe opened #299 "TimeoutManager can produce excess duplicate timeouts"
## Problem

The `startSlice` parameter of `GetNextChunk` is being used in the queries to find expired timeouts. If the persistence uses >= in its query, and the re-poll interval is small enough, subsequent timeout polls can retrieve the same messages, resulting in duplicate timeout messages being dispatched.

## How to know if you are affected

You are affected if you are using NServiceBus.NHibern

[2017-07-26 12:28] MarcinHoppe commented on #299
Resolved by #295

[2017-07-26 12:36] #299 closed

[2017-08-23 13:15] dbelcham opened #302 "Update docs and samples for ConnectionStringName"
v7 of NServiceBus Core has deprecated the use of `ConnectionStringName`. Docs, snippets and samples will need to be updated to remove the use of this capability. More info on what the alternative is can be found in https://docs.particular.net/nservicebus/upgrades/6to7/ once https://github.com/Particular/docs.particular.net/pull/3126 has been merged.

[2017-09-05 11:29] dvdstelt opened #304 "Use locking hint when fetching timeouts"
### Who's affected

Users who run `TransactionScope` transaction mode endpoints with transports that don't support delayed messages internally (MSMQ, SQL Server transport < 3.1)

### Symptoms

If an endpoint is scaled-out, when a delayed message matures it can be picked up by multiple instances that all compete to dispatch the message to the final destination. In `TransactionScope` mode the actual

[2017-09-11 03:16] SzymonPobiega opened #306 "Consider moving `SharedConfig` to root namespace"

[2017-09-26 08:17] #304 closed

[2017-10-17 08:27] timbussmann opened #310 "SagaModelMapper has no internal constructor anymore"
The `SagaModelMapper` class constructor has been changed from public to private here: https://github.com/Particular/NServiceBus.NHibernate/commit/0e6193b49dc61c3d099e8d21b3de3d43ab83a02b#diff-9e69d62e422647af5b773d566cea1b01R19
The persistence end-to-end tests are newing up the mapper for their tests (relying on InternalsVisibleTo) but this doesn't work anymore with version 8.

[2017-10-18 10:42] MarcinHoppe opened #311 "Add startup diagnostics info"
We can now capture [startup diagnostic information](https://docs.particular.net/nservicebus/hosting/?version=core_7#startup-diagnostics).

We need to decide what info is worth logging and implement it.

[2017-10-26 05:42] MarcinHoppe opened #313 "Update to NHibernate 5.0"
[NHibernate 5.0](http://nhibernate.info/blog/2017/10/10/nhibernate-5-0-released.html) has been released and will probably want to update at one point.

@SimonCropp has already contributed a PR: #312.

[2018-01-03 13:35] ramonsmits opened #319 "Consider using partitioning for OutboxRecord cleanup"
Source:  https://groups.google.com/forum/#!topic/particularsoftware/CaZMSSti6BE

## TL;DR
- Use partitioning on DispatchedAt
- Improve cleanup logic, see #143

### Some background

### Changes I had to make

### And the question

[2018-01-03 13:36] ramonsmits commented on #144
I checked if this issue is still relevant to see if the indexes have changed but the indexes are still the same.

[2018-01-03 13:38] ramonsmits commented on #143
I checked if this is still relevant and the logic is still the same:

https://github.com/Particular/NServiceBus.NHibernate/blob/0289c7540243afa506e9ff93188daa4c19ac12e9/src/NServiceBus.NHibernate/Outbox/OutboxPersister.cs#L134

[2018-01-03 14:33] SzymonPobiega commented on #144
@ramonsmits frankly I have no idea how to proceed with it according to our processes. I suggest you raise an issue in PlatDev. I doubt it could be treated as maintainer budget.

[2018-01-03 15:06] ramonsmits commented on #319
It doesn't seem that this is 'easy' to do. The `CREATE PARTITION FUNCTION` only seems an range of values set that must be specified upfront.

One thing that we can do is add guidance on how to run the cleanup frequently on the database itself as a task instead of having it run from the instance itself which is potentially scaled out.

[2018-02-21 14:24] Tsjunne opened #321 "< 5.0.0 version constraint on nuget package prevents use of NH5"
I have recently upgraded to NH5 in my project to make use of Async operations.
There is already an open issue that asks for the upgrade to v5, but i can understand that this would require some more test cycles.

But would it at least be possible to remove the version constraint on the NServiceBus.NHibernate packages that says (>= 4.0.4.4000 && < 5.0.0)? That way at we can use NH5 on our own terms.

[2018-02-27 08:28] SzymonPobiega commented on #321
Hi @Tsjunne . We will be discussing this issue today in order to prioritize it.

[2018-03-14 07:42] SzymonPobiega opened #322 "Support .NET Core"
Looks like NHibernate will support .NET Core in 5.1 https://github.com/nhibernate/nhibernate-core/pull/1523

[2018-05-01 11:23] ramonsmits opened #333 "Cleanup task can execute concurrently"
A timer triggers the outbox cleanup which performance a delete query on the configured database. If the cleanup task runs longer then the cleanup interval these cleanup queries will be executed in parallel.

[2018-05-01 11:24] ramonsmits opened #334 "Cleanup task cannot be completely disabled"
The cleanup task can be disabled by specifying `Timeout.InfiniteTimeSpan` (-1 milliseconds). This currently disabled the repeating nature of the cleanup tasks but was still run once.

This can be conflicting if you have multiple endpoint instances sharing a single outbox. Examples are an endpoint which is scaled-out and/or different endpoints sharing the same database.

[2018-05-02 19:07] ramonsmits commented on #334
Resolved in #330, #331 and #332

[2018-05-02 19:07] #334 closed

[2018-05-02 19:07] #333 closed, assigned to nobody

[2018-05-02 19:25] ramonsmits opened #335 "Cleanup task cannot be completely disabled (v7)"
The cleanup task can be disabled by specifying `Timeout.InfiniteTimeSpan` (-1 milliseconds). This currently disabled the repeating nature of the cleanup tasks but was still run once.

This can be conflicting if you have multiple endpoint instances sharing a single outbox. Examples are an endpoint which is scaled-out and/or different endpoints sharing the same database.

[2018-05-02 19:25] ramonsmits opened #336 "Cleanup task can execute concurrently (v7)"
A timer triggers the outbox cleanup which performance a delete query on the configured database. If the cleanup task runs longer then the cleanup interval these cleanup queries will be executed in parallel.

[2018-05-02 19:27] ramonsmits commented on #336
Resolved in #330

[2018-05-02 19:27] #336 closed

[2018-05-02 19:27] ramonsmits commented on #335
Resolved in #330

[2018-05-02 19:27] #335 closed

[2018-07-10 07:57] Scooletz commented on #322
Addressed by #341

[2018-07-10 07:57] #322 closed

[2018-08-02 08:40] yvesgoeleven opened #344 "Stop outbox cleaner process in a graceful way"
A user reports that a warning occurs when he shutsdown an endpoint, issuing a TaskCancelledException.

Perfectly normal as we cancel the task on stop, but really unnecessary to log this

Exception occurred during stopping of feature startup task 'OutboxCleaner'. System.Threading.Tasks.TaskCanceledException: A task was canceled.     at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(

[2018-08-30 12:46] SzymonPobiega opened #347 "Gateway deduplication is susceptible for message loss due to incorrect exception handling"

[2018-08-30 12:47] #347 closed

[2018-08-30 12:48] SzymonPobiega commented on #347
Fixed in https://github.com/Particular/NServiceBus.NHibernate/pull/346

[2018-09-11 04:15] SzymonPobiega commented on #274
We had a customer case about upgrading from 5 to 7 and this missing feature is a blocker. Additionally, with removing support of transaction scopes in Outbox we lost easy way of setting the transaction isolation level on the outbox connection.

[2018-09-11 04:42] SzymonPobiega commented on #274
@Particular/developer-experience-squad is this something that you can take on?

[2018-09-11 04:44] SzymonPobiega opened #348 "Users can't select the transaction isolation mode for the synchronized storage session"
The synchronized storage session managed by the persister always uses the default isolation model (`ReadComitted`) and users can't override it.

This was possible in Version 5 of NServiceBus (6 of persister) via `TransactionScope` settings.

[2018-09-11 04:44] SzymonPobiega commented on #348
@Particular/developer-experience-squad is this something you can take on?

[2018-09-11 08:44] SzymonPobiega commented on #348
@sergioc nope, it was not. Or better said, we were not aware of actual use cases for changing the isolation level. Now we have signals from customers that it indeed has been useful.

[2018-09-13 12:10] SzymonPobiega commented on #348
The isolation level can be set via NHibernate configuration using `connection.isolation_level` key,

[2018-09-13 12:10] #348 closed

[2018-09-19 07:32] sergioc commented on #274
Given this is a broken feature, could @Particular/keeping-the-lights-on-squad be a better fit to handle this?

[2018-09-19 08:08] SzymonPobiega commented on #274
@sergioc I think this is a missing feature, not a bug. Looking at the [triage](https://github.com/Particular/PlatformDevelopment/blob/master/guidelines/triage.md#priority-matrix) it does not fit there.

[2018-09-19 09:54] sergioc commented on #274
@SzymonPobiega it is missing, but if we used to have the feature, why isn't it considered broken?

[2018-09-19 11:04] Scooletz commented on #274
KtLO mode on.
The fact that something has been removed does not imply, that the current version is broken. It might have been removed because of various reasons. If there was no reason, and it was just forgotten, it still does not fit our triage criteria as:

With no capability there are no incorrect/unexpected results. This is lack of a feature.

[2018-10-30 15:26] Himanshu55007 commented on #297
I am still facing this problem in version 6.4.0

[2018-10-30 15:44] ramonsmits commented on #297
@Himanshu55007 What problem? Deadlocks on sagas? Is the index on the child table present? Could you create a post on our forum and include as much details as possible at https://discuss.particular.net/ ?

[2018-10-30 16:14] dchidraw commented on #297
Thanks ramonsmits. Index on child table is not present and we believe it works by adding an index on the child table. However, saga used to work with V5 endpoints without an index. Wondering what is causing the V6 endpoint to explicitly have the index on the table.

[2018-10-30 16:16] dchidraw commented on #297
@ramonsmits - Also, we believe it would be good if NSB endpoint takes care of index creation implicitly on the backend if it is mandatory.

[2018-11-02 16:22] ramonsmits commented on #297
The index is being created from NServiceBus.NHibernate 7.1.6 onwards which is for NServiceBus 6. If you are using NServiceBus 5 or prior you will need to create this index manually or upgrade to NServiceBus 6.

Second, child collections can be list items or actual entities.  This depends on the presence of an Id property:

- When NOT specifying an Id property on the child item every save of the sa

[2018-11-02 17:46] ramonsmits commented on #297
To add info for other that might land on this issue:

Deadlocks can in some cases not be prevented and occur to keep saga instance state consistent. If deadlocks occur very frequently that this can be hurting performance.

https://docs.particular.net/persistence/nhibernate/saga-concurrency

Also, if using log4net, deadlocks are written as ERRORS although these are handled by NServiceBus and retrie

[2018-11-02 19:57] dchidraw commented on #297
Thanks Ramon.

We are using NServiceBus.NHibernate 7.2.2 and still the index is not getting created on the child table. What are we doing wrong? We have seen if index gets created then we are not seeing the deadlock scenario.

<package id="NServiceBus.NHibernate" version="7.2.2" targetFramework="net461" />

Thanks,
Datta Chidrawar
Assistant Manager - Telematics & CDI
dchidraw@arifleet.com<mailto:d

[2018-11-06 11:57] Feanathiel commented on #297
Is it a new table? If I remember correctly the table will only be created once, and is never updated with the indices. Just making sure.

[2018-11-06 12:05] dchidraw commented on #297
We dropped and recreated table by installing the endpoint but still do not see the index being created.

Sent from my iPhone

On Nov 6, 2018, at 6:57 AM, Feanathiel <notifications@github.com<mailto:notifications@github.com>> wrote:

Is it a new table? If I remember correctly the table will only be created once, and is never updated with the indices. Just making sure.

—
You are receiving this beca

[2018-11-07 15:10] roel-charita opened #349 "TimeoutEntity_EndpointIdx validation error due to braces "[" and "]" used in schema name, even though correct index defined."
Hi, had a chat with Andreas today about "TimeoutEntity_EndpointIdx" index column validation error on the TimeoutEntity table. Because my schema contains braces when provided to the NHibernate config because otherwise it would not be recognized as a good identifier due to the use of a hyphen, the query to determine the columns used in the index does not return any results.

nHibernateConfig.SetProp

[2018-11-07 17:50] DavidBoike commented on #349
Paging @andreasohlund & @SzymonPobiega.

@roel-charita 	can I clarify what the impact of this is? Is the result just a misleading/wrong warning message, or does this also affect runtime behavior?

I assume the scope is limited to only when using bracket-delimited schema names.

Also, what version of NServiceBus.NHibernate are you currently using?

[2018-11-07 18:05] andreasohlund commented on #349
It generates an incorrect WARN log statement at startup, no effetcts on runtime behaviour

[2018-11-07 18:06] andreasohlund commented on #349
Sidenote: Escaped tablenames is exposed to the same issue

[2018-11-07 18:07] DavidBoike commented on #349
In that case I marked it as `Bug` and `candidate-for-next-release` for consideration for the next maintenance release.

[2018-11-08 06:48] roel-charita commented on #349
@DavidBoike
1) Runtime behavior is not directly affected but one may falsily assume his/her index is correct while in fact it is not and blame the reception of this validation error on this bug - no way for them to know. If the index would indeed be incorrect, this would affect runtime behavior.
2) Version of NServiceBus.NHibernate is 7.2.4 at the moment.

[2018-11-12 19:43] dchidraw commented on #297
From: Chidrawar, Datta
Sent: Monday, November 12, 2018 2:02 PM
To: 'support@particular.net '
Subject: FW: Support Request: Sage - ORA-00060: deadlock detected while waiting for resource - Error on Deleting child collections

From: Chidrawar, Datta
Sent: Monday, November 12, 2018 2:01 PM
To: 'support@particular.net'
Subject: RE: Support Request: Sage - ORA-00060: deadlock detected while waiting for

[2018-11-13 12:08] ramonsmits commented on #297
Upon inspection the index creation on child collections is happening from v8.0.0+ and only for child collections that have an Id property.

In the future we probably add support for creating index on child collections for items without an Id property as is shown in #350

[2019-01-17 14:45] garyamorris commented on #344
On shutdown we're currently experiencing a similar issue using latest.
[code]

[2019-01-18 09:52] Tsjunne commented on #344
I would like to 1up this issue, our testers are reporting this false error regularly.
We are running 7.1.6.

[2019-03-28 09:01] danielmarbach commented on #321
This has been fixed as part of the [8.1 release](https://github.com/Particular/NServiceBus.NHibernate/releases/tag/8.1.0)

[2019-03-28 09:01] danielmarbach commented on #313
This has been fixed as part of the [8.1 release](https://github.com/Particular/NServiceBus.NHibernate/releases/tag/8.1.0)

[2019-03-28 09:01] #313 closed

[2019-03-28 09:09] danielmarbach opened #360 "Sagas with DateTime property can raise StaleObjectStateException after upgrade to NHibernate 5 and higher"
## Who's affected

- All customers using SagaData with DateTime properties like

[code]

## Symptoms

https://nhibernate.info/blog/2017/10/10/nhibernate-5-0-released.html

When upgrading to NHibernate 5 from 4.x the DateTime precision changes. Existing saga data tables that use `datetime` will have less precision than the newly used DateTime which leads to `StaleObjectStateException` and retries (

[2019-04-09 10:17] danielmarbach commented on #360
We released an upgrade guide to point out the possible options to address this. No fix was added to the persistence given that the issue is addressable with NHibernate only https://docs.particular.net/persistence/upgrades/nhibernate-8to8.1

[2019-04-09 10:17] #360 closed

[2019-07-17 09:40] #349 closed

[2019-10-15 10:27] SzymonPobiega opened #366 "Identity column (bigint) may limit the number of messages an endpoint can process"

[2019-10-15 10:31] SzymonPobiega commented on #366
False alarm.

[2019-10-15 10:31] #366 closed

[2020-02-18 08:07] LeMaciek commented on #344
+1 - it's annoying

[2020-06-04 07:58] SzymonPobiega commented on #121
@andreasohlund I am pretty sure this issue is a bit outdated. I home you don't mind me closing it ;-)

[2020-06-04 07:58] #121 closed

[2020-06-05 07:08] SzymonPobiega commented on #216
This issue has been fixed in recent versions of NH.

[2020-06-05 07:08] #216 closed

[2020-06-15 04:39] #311 closed

[2020-06-17 07:48] SzymonPobiega commented on #302
There are no more usages of `ConnectionStringName` in the documentation as of 2020-06-17.

[2020-06-17 07:48] #302 closed

[2020-06-22 13:36] SzymonPobiega commented on #148
Unfortunately HQL does not allow limited deletes so this idea can't be implemented.

[2020-06-22 13:36] #148 closed

[2020-06-22 13:37] SzymonPobiega opened #444 "Outbox pessimistic concurrency control"
Implement pessimistic concurrency control for outbox in which the outbox record is inserted prior to executing message handlers in order to limit the cases when message handlers are executed multiple times. Pessimistic concurrency control is useful when handlers have non-transactional side effects that we want to avoid duplicating, such as sending an e-mail.

[2020-06-22 13:37] SzymonPobiega commented on #444
Fixed in #439

[2020-06-22 13:37] #444 closed

[2020-06-22 13:37] SzymonPobiega commented on #274
Fixed in #439

[2020-06-22 13:37] #274 closed

[2020-06-22 13:40] SzymonPobiega commented on #344
Fixed in #440

[2020-06-22 13:40] #344 closed

[2020-06-23 09:03] SzymonPobiega opened #445 "Register Synchronized Storage Session in the Dependency Injection container"

[2020-06-23 09:03] SzymonPobiega commented on #445
Fixed in #443

[2020-06-23 09:03] #445 closed

[2020-06-25 13:55] SzymonPobiega opened #450 "Synchronized Storage Session resolved from dependency injection infrastructure is invalid"
The session gets cached after the first message is processed and reused for all subsequent messages.

[2020-06-25 13:58] SzymonPobiega commented on #450
Fixed in #448

[2020-06-25 13:58] #450 closed

[2020-06-29 07:00] SzymonPobiega commented on #103
This would be a breaking change and I no longer believe this would be a desirable feature.

[2020-06-29 07:00] #103 closed

[2020-07-03 08:50] tmasternak opened #451 "Add AcceptanceTests for Entity Framework integration"
As part of the last enhancement release, we realized that we are missing att to test integration with Entity Framework.

[2020-07-07 07:35] dependabot-preview[bot] opened #452 "Dependabot couldn't reach https://www.myget.org/F/particular/api/v3/index.json as it timed out"
Dependabot couldn't reach https://www.myget.org/F/particular/api/v3/index.json as it timed out.

Is https://www.myget.org/F/particular/api/v3/index.json accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/Particular/update-logs/39293184

[2020-07-08 07:08] #452 closed

[2020-08-20 09:25] tmasternak opened #467 "'UseTransactionScope' option for Outbox does not float ambient transaction to the user code"
### Symptoms

When using `.EnableOutbox().UseTransactionScope()` option handlers are executed with no ambient transaction ie. `Transaction.Current` equals `null`. As a result, the user handler/behavior code executes in a separate transaction causing potential data corruption.

### Who's affected

`NServiceBus.NHibernate` ver `8.4.2` users that enable `Outbox` with `TransactionScope`.

### Root cau

[2020-08-20 09:51] #467 closed

[2020-09-15 14:47] chezih opened #486 "NServiceBus doesn't automatically create schema (SQL Server)"
Please look at this question:
https://stackoverflow.com/questions/60409150/nservicebus-doesnt-automatically-create-schema-sql-server

Why NSB doesn't create schema if it not exist?

[2020-09-15 16:04] adamralph commented on #486
@chezih it would better to raise your question in our [discussion group](https://discuss.particular.net/) which has a much larger audience than this repo and is designed for Q&A.

Or alternatively, you can request support using one of the other methods listed at https://particular.net/support

[2020-09-15 16:04] #486 closed

[2021-03-30 07:48] #224 closed

[2021-03-30 07:49] WojcikMike commented on #224
Released in version 8.4.4

[2021-09-03 13:46] ramonsmits opened #647 "Inefficient serialization of message body for transport operations stored in OutboxRecord.TransportOperations serialized by DataContractJsonSerializer"
Inefficient serialization of message body for transport operations stored in OutboxRecord.TransportOperations serialized by DataContractJsonSerializer.

The DataContractJsonSerializer serialized each byte as a text int value part of a json array:
[code]

[2021-09-03 13:51] ramonsmits opened #648 "DataContractJsonSerializer uses default schema when serializing OutboxRecord and used suffix `k__BackingField`"
DataContractJsonSerializer uses default schema when serializing OutboxRecord

This results in weird field names that are similar to `<Headers>k__BackingField` instead of a good schema name that would use the name `Headers`

[code]

[2021-10-11 22:23] feinoujc opened #669 "Removing ConfigurationManager / xml App.config usage?"
We are in the process of upgrading all of our endpoints to dotnet core and there are a few settings in here that still need the older xml app.config

example: https://docs.particular.net/persistence/nhibernate/outbox?version=nhibernate_6#deduplication-record-lifespan

Any plans on adding another way to do this (by code, preferably)?

[2021-12-22 13:49] singhvivek2503 opened #701 "NHibernate saga throwing error Index IDX_1F02016C already exists"
I am using NHibernate persistance for Saga. Its throwing below error:
[code]

[2021-12-24 09:39] ramonsmits commented on #701
@singhvivek2503 Based on the stacktrace it seems to be related to the schema of a saga. Were any changes made to it? NHibernate cannot deal well with modifying an existing schema but only with schema additions. This is not something that NServiceBus can influence.

What would be easiest would be to drop that index and then have it recreated. The error should not persist if NHibernate detects the s

[2021-12-24 09:52] singhvivek2503 commented on #701
@ramonsmits I am using package NServiceBus 7.5.0 and NServiceBus.Nhibernate 8.5.0

[2021-12-24 10:23] ramonsmits commented on #701
@singhvivek2503

1. Were any changes made to the saga data?
2. Could you drop the index to check if it gets recreated and no longer throw this error?

[2021-12-28 10:41] singhvivek2503 commented on #701
Hi @ramonsmits,
My schema list looks like below:

[code]
I am not sure about dropping the index as I cannot find Index with name "IDX_1F02016C" in DB.

[2021-12-28 12:27] ramonsmits commented on #701
@singhvivek2503 With schema I meant the full table and index structure (schema) for the sagas used in this endpoint.

1. Were any changes made to the saga data? You have not answered this question yet..
2. The index does not exist? Could you reach out to us via https://particular.net/support with your corporate address to maybe arrange a call as currently I don't have enough details to fully under

[2021-12-30 06:19] singhvivek2503 commented on #701
@ramonsmits Found the issue. I was using common models between multiple sagas.
While going through the NServicebus documentation found this [Long-running means stateful
](https://docs.particular.net/nservicebus/sagas/#long-running-means-stateful)

After I separated out models for each saga error was gone. :)

[2021-12-30 10:42] ramonsmits commented on #701
@singhvivek2503 ok, so you have several saga types that were partially overlapping.

Interesting that NHibernate throws that error for that state as from an NHibernate perspective that would be allowed but it is a recommendation not to do this as that created coupling between sagas while these should be isolated.

Was it something similar like the following snippet?

[code]

[2021-12-30 10:51] singhvivek2503 commented on #701
Yes, that's how it was.

[2021-12-30 10:56] ramonsmits commented on #701
@singhvivek2503 thanks, closing this as your issue has been resolved. Would you have any feedback for us to update our guidance to make this more visible?

[2021-12-30 10:56] #701 closed

[2021-12-30 10:58] singhvivek2503 commented on #701
Yes please. It was difficult for me to figure this out so it would be great if its more visible in docs. Thanks for your help.

[2022-02-23 06:19] mikeminutillo opened #735 "Restore test When_deferring_to_non_local.Message_should_be_received"
The test `When_deferring_to_non_local.Message_should_be_received` has been [disabled for being flaky and time-dependent](https://github.com/Particular/NServiceBus.NHibernate/blob/master/src/NServiceBus.NHibernate.AcceptanceTests-SqlTransportTests/NServiceBusAcceptanceTest.cs).

We should investigate ways to improve the test so that it can be re-enabled.

[2022-02-23 06:46] mikeminutillo opened #736 "Nondeterministic test hangs (often when running against Oracle)"
* These tests cause nondeterministic test hangs. It seemed to be more apparent when running against Oracle.
  * [When_worker_tries_to_complete_saga_update_by_another_pessimistic](https://github.com/Particular/NServiceBus.NHibernate/blob/master/src/NServiceBus.NHibernate.PersistenceTests/NServiceBus.NHibernate.PersistenceTests.csproj#L29)
  * [When_concurrent_update_exceed_lock_request_timeout_pess

[2022-05-20 17:34] bording opened #781 "Snapshot isolation no longer allowed for optimistic Outbox concurrency"
Pessimistic concurrency control support was added in #439, and it was [mentioned](https://github.com/Particular/NServiceBus.NHibernate/pull/439#pullrequestreview-432393051) that snapshot isolation would not work with this mode.

Transaction isolation level control for the Outbox was added in #524, but this change seems to assume that pessimistic mode is the only mode. Because of this assumption, s

[2022-07-26 20:28] helenktsai opened #814 "Investigate support of SQL Server Always Encrypted"
*Issue transferred from internal repo*

SQL Server 2017 has a feature called [Always Encrypted](https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/always-encrypted-database-engine). Other parts of the platform (like SqlTransport) already support it. Investigate supporting it for NHibernate.